Repository n8io/boilerplate-monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: lint-css, lint-js-eslint, lint-js-prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-css:
      glob: 'packages/ui/**/*.js'
      run: yarn -s linter:stylelint {staged_files}
    lint-js-eslint:
      glob: '*.js'
      run: yarn -s linter:eslint {staged_files}
    lint-js-prettier:
      glob: '*.js'
      run: yarn -s linter:prettier {staged_files}

🔊 Add better logging around auth token read/write
  packages/service/src/types/auth/selectors.ts
Due: none

✨ Add retry logic for expired accessToken
  packages/ui/package.json
  packages/ui/src/modules/app/components/App/Providers/GraphQL/link/index.js
  packages/ui/src/modules/app/components/App/Providers/GraphQL/link/onError.js
  packages/ui/src/modules/app/components/App/Providers/GraphQL/link/request.js
  packages/ui/src/modules/app/components/App/Providers/index.js
  packages/ui/src/types/history/index.js
  yarn.lock
Due: lint-css, lint-js-eslint, lint-js-prettier

📸 Fix broken test
  packages/ui/src/shared/Page/index.spec.js
Due: lint-css, lint-js-eslint, lint-js-prettier

📘 Add CircleCI build badge to README
  README.md
Due: none

✨ Add apollo-retry-link for network errors
  packages/ui/package.json
  packages/ui/src/modules/app/components/App/Providers/GraphQL/link/index.js
  packages/ui/src/modules/app/components/App/Providers/GraphQL/link/retry.js
  yarn.lock
Due: lint-css, lint-js-eslint, lint-js-prettier

✨Add 127.0.0.1 to cors allow list
  packages/service/src/app/middleware/cors.ts
Due: none

✨ Add `FetchPolicy` type to `common`
  packages/common/index.js
  packages/common/src/types/fetchPolicy/index.js
  packages/common/src/types/fetchPolicy/typedef.js
Due: lint-js-eslint, lint-js-prettier

✨ Add automated persisted queries w/Redis caching
  docker/docker-compose.yml
  package.json
  packages/service/.env.example
  packages/service/package.json
  packages/service/src/server/cache.ts
  packages/service/src/server/index.ts
  packages/service/src/server/schema.ts
  packages/ui/package.json
  packages/ui/src/modules/app/components/App/Providers/GraphQL/link/automatedPersistedQueries.js
  packages/ui/src/modules/app/components/App/Providers/GraphQL/link/index.js
  packages/ui/src/modules/profile/components/index.js
  packages/ui/src/modules/profile/components/index.spec.js
  yarn.lock
Due: lint-css, lint-js-eslint, lint-js-prettier

🐛 Add parameters to query
  packages/tool-hook-generator/_templates/hooks-generator/query/useQuery.ejs.t
  packages/ui/src/shared/graphql/query/useUsers.js
Due: lint-css, lint-js-eslint, lint-js-prettier

✨ Add typings for redis
  packages/service/package.json
  packages/service/src/server/cache.ts
  yarn.lock
Due: none

♻️ Refactor service to be more serverless friendly
  packages/service/src/app/index.ts
  packages/service/src/db/connect.ts
  packages/service/src/index.ts
  packages/service/src/server/cache.ts
  packages/service/src/server/index.ts
  packages/service/src/server/schema.ts
Due: none

🚛 Move @types/ioredis to devDependencies
  packages/service/package.json
  yarn.lock
Due: none

🚨 Add .tmp dir to `eslintignore`
  .eslintignore
Due: none

🐛 Fix linting issue with unknown mutation and query in specs
  packages/ui/src/shared/graphql/query/useUsers.js
  packages/ui/src/shared/graphql/useMutation/index.spec.js
  packages/ui/src/shared/graphql/useQuery/index.spec.js
Due: lint-css, lint-js-eslint, lint-js-prettier

✨ Strip __typename on all incoming data
  packages/ui/src/modules/app/components/App/Providers/GraphQL/link/index.js
  packages/ui/src/modules/app/components/App/Providers/GraphQL/link/stripTypenames.js
  packages/ui/src/modules/app/components/App/Providers/GraphQL/link/utils/stripTypenames.js
  packages/ui/src/modules/app/components/App/Providers/GraphQL/link/utils/stripTypenames.spec.js
Due: lint-css, lint-js-eslint, lint-js-prettier

🔊 Add better logging when there are missing translations
  packages/ui/src/i18n/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

✨ Add `start:prod` script to run production assets
  README.md
  package.json
  packages/ui/package.json
  yarn.lock
Due: none

🐛 Fix regex patterns so they work with html5 input patterns
  packages/common/index.js
  packages/common/src/constants/password/regex.js
  packages/common/src/constants/user/regex.js
  packages/common/src/types/userRegisterInput/validation.js
  packages/common/src/types/userSelfUpdateInput/examples.js
  packages/common/src/types/userSelfUpdateInput/index.js
  packages/common/src/types/userSelfUpdateInput/transforms.js
  packages/common/src/types/userSelfUpdateInput/typedef.js
  packages/common/src/types/userSelfUpdateInput/validation.js
  packages/common/src/types/userSelfUpdateInput/validation.spec.js
  packages/common/src/types/utils/regexToInputPattern/index.js
  packages/common/src/types/utils/regexToInputPattern/index.spec.js
  packages/ui/src/modules/login/components/Form/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/login/components/Form/index.js
  packages/ui/src/modules/profile/components/Form/index.js
  packages/ui/src/modules/profile/components/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/profile/components/index.js
  packages/ui/src/modules/signup/components/Form/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/signup/components/Form/index.js
  packages/ui/src/shared/forms/Input/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/forms/Input/index.js
  packages/ui/src/shared/forms/PasswordInput/__mocks__/index.js
  packages/ui/src/shared/forms/PasswordInput/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/forms/PasswordInput/index.js
  packages/ui/src/shared/forms/PasswordInput/index.spec.js
  packages/ui/src/shared/forms/ValidationError/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

✨ Add EmailInput
  packages/ui/src/shared/forms/EmailInput/__mocks__/index.js
  packages/ui/src/shared/forms/EmailInput/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/forms/EmailInput/index.js
  packages/ui/src/shared/forms/EmailInput/index.spec.js
Due: lint-css, lint-js-eslint, lint-js-prettier

🔥 Remove unnecessary validation on UserLogin type
  packages/common/src/types/userLoginInput/validation.js
  packages/common/src/types/userLoginInput/validation.spec.js
  packages/common/src/types/validation/string.js
Due: lint-js-eslint, lint-js-prettier

✨ Add initial object to form default values
  packages/common/src/types/userLoginInput/creation.js
  packages/common/src/types/userLoginInput/examples.js
  packages/common/src/types/userLoginInput/index.js
  packages/common/src/types/userLoginInput/validation.js
  packages/common/src/types/userRegisterInput/creation.js
  packages/common/src/types/userRegisterInput/index.js
  packages/common/src/types/userSelfUpdateInput/creation.js
  packages/common/src/types/userSelfUpdateInput/creation.spec.js
  packages/common/src/types/userSelfUpdateInput/index.js
  packages/ui/src/modules/login/components/Form/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/login/components/Form/index.js
  packages/ui/src/modules/profile/components/Form/index.js
  packages/ui/src/modules/profile/components/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/signup/components/Form/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/signup/components/Form/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

✨ Add better parsing of REACT_APP_GRAPHQL env var
  packages/service/.env.example
  packages/service/src/app/middleware/cors.ts
  packages/ui/.env
  packages/ui/src/config/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

✨ Add custom `Form` component and `useForm` hook to wrap `react-hook-form`
  packages/common/src/types/user/examples.js
  packages/common/src/types/user/index.js
  packages/ui/src/modules/app/components/App/Providers/GlobalStyles/elements/index.js
  packages/ui/src/modules/login/components/Form/index.js
  packages/ui/src/modules/login/components/Form/index.spec.js
  packages/ui/src/modules/profile/components/Form/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/profile/components/Form/index.js
  packages/ui/src/modules/profile/components/Form/index.spec.js
  packages/ui/src/modules/profile/components/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/signup/components/Form/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/signup/components/Form/index.js
  packages/ui/src/modules/signup/components/Form/index.spec.js
  packages/ui/src/shared/forms/Form/__mocks__/index.js
  packages/ui/src/shared/forms/Form/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/forms/Form/index.js
  packages/ui/src/shared/forms/Form/index.spec.js
  packages/ui/src/shared/forms/useForm/__mocks__/index.js
  packages/ui/src/shared/forms/useForm/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

♻️ Reduce retry max time to 10 seconds
  packages/ui/src/modules/app/components/App/Providers/GraphQL/link/retry.js
Due: lint-css, lint-js-eslint, lint-js-prettier

✨ Add error notifications to signup form
  packages/ui/src/i18n/en/common/index.js
  packages/ui/src/i18n/en/signup.js
  packages/ui/src/modules/login/components/Form/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/login/components/Form/index.spec.js
  packages/ui/src/modules/signup/components/Form/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/signup/components/Form/index.js
  packages/ui/src/modules/signup/components/Form/index.spec.js
  packages/ui/src/shared/graphql/utils/toErrorMessage.js
Due: lint-css, lint-js-eslint, lint-js-prettier

✨Tweak notification styles
  packages/ui/src/shared/Notification/LogLevelIcon/index.js
  packages/ui/src/shared/Notification/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

💚 Fix build missing new deps
  packages/service/package.json
  packages/service/src/app/middleware/cors.ts
  packages/ui/package.json
  yarn.lock
Due: none

✨ Add submitting state to `Button`
  packages/ui/package.json
  packages/ui/src/modules/app/components/App/Layout/Footer/Toggles/LanguageToggle/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/app/components/App/Layout/Footer/Toggles/ThemeToggle/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/app/components/App/Layout/Footer/Toggles/ToggleButton/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/app/components/App/Layout/Footer/Toggles/ToggleButton/index.spec.js
  packages/ui/src/modules/app/components/App/Layout/Header/UserMenu/Avatar/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/app/components/App/Layout/Header/UserMenu/Navigation/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/profile/components/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/Button/index.js
  packages/ui/src/shared/Button/index.spec.js
  packages/ui/src/shared/Button/style/context.js
  packages/ui/src/shared/Loader/__mocks__/index.js
  packages/ui/src/shared/Loader/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/Loader/index.js
  packages/ui/src/shared/Loader/theme.js
  yarn.lock
Due: lint-css, lint-js-eslint, lint-js-prettier

✨ Add common dependency to server
  packages/common/index.js
  packages/common/package.json
  packages/common/src/index.js
  packages/common/src/utils/debounce/index.js
  packages/service/package.json
  packages/service/src/db/client.js
  packages/service/src/db/index.js
  packages/service/src/lib/isNullOrEmpty.js
  packages/service/src/lib/renameKeys.js
  packages/service/src/log/index.js
  packages/service/src/server/context.js
  packages/service/src/server/index.js
Due: lint-js-eslint, lint-js-prettier

✨ Add `@isAuthenticated` and `@hasPermission` directives
  package.json
  packages/common/package.json
  packages/common/src/index.js
  packages/common/src/types/permission/index.js
  packages/common/src/types/permission/selectors.js
  packages/common/src/types/permission/typedef.js
  packages/common/src/types/userRole/index.js
  packages/common/src/types/userRole/typedef.js
  packages/common/src/utils/index.js
  packages/service/src/graphql/cache.js
  packages/service/src/graphql/context.js
  packages/service/src/graphql/formatError.js
  packages/service/src/graphql/index.js
  packages/service/src/graphql/schema/directives/hasPermission.js
  packages/service/src/graphql/schema/directives/index.js
  packages/service/src/graphql/schema/directives/isAuthenticated.js
  packages/service/src/graphql/schema/index.js
  packages/service/src/graphql/schema/typeDefs.js
  packages/service/src/graphql/schema/user/delete.js
  packages/service/src/graphql/schema/user/revokeRefreshTokens.js
  packages/service/src/graphql/schema/user/self.js
  packages/service/src/graphql/schema/user/selfUpdate.js
  packages/service/src/start.js
Due: lint-js-eslint, lint-js-prettier

🐛 Ignore specs when building common
  packages/common/package.json
Due: none

💚 Fix build
  .circleci/config.yml
  .prettierignore
  package.json
  packages/common/package.json
  packages/common/src/types/time/seconds/index.spec.js
  packages/common/src/types/userLoginInput/validation.spec.js
  packages/common/src/types/userRegisterInput/validation.spec.js
  packages/common/src/types/utils/makeSafeExample/index.spec.js
  packages/common/src/types/utils/regexToInputPattern/index.spec.js
  packages/common/src/utils/isNullOrEmpty/index.spec.js
  packages/common/src/utils/noop/index.spec.js
  packages/common/src/utils/renameKeys/index.spec.js
  packages/common/src/utils/toNumber/index.spec.js
  packages/service/src/graphql/schema/user/users.js
  packages/ui-common/package.json
Due: lint-js-eslint, lint-js-prettier

✨ Add `users` query with pagination
  packages/common/src/index.js
  packages/common/src/types/paginationInput/creation.js
  packages/common/src/types/paginationInput/examples.js
  packages/common/src/types/paginationInput/index.js
  packages/common/src/types/paginationInput/typedef.js
  packages/common/src/types/paginationInput/validation.js
  packages/common/src/types/paginationInput/validation.spec.js
  packages/common/src/types/permission/selectors.js
  packages/common/src/types/permission/typedef.js
  packages/common/src/types/user/examples.js
  packages/common/src/types/user/index.js
  packages/common/src/types/user/transforms.js
  packages/common/src/types/user/typedef.js
  packages/service/insomnia/config.yaml
  packages/service/package.json
  packages/service/src/db/connection.js
  packages/service/src/db/user/userRevokeRefreshTokens.js
  packages/service/src/db/user/usersRead.js
  packages/service/src/graphql/schema/user/delete.js
  packages/service/src/graphql/schema/user/index.js
  packages/service/src/graphql/schema/user/revokeRefreshTokens.js
  packages/service/src/graphql/schema/user/users.js
  packages/service/src/models/bookshelf.js
  packages/service/src/types/customError/user/index.js
  packages/service/src/types/customError/user/users.js
  packages/service/src/types/db/index.js
  packages/service/src/types/db/typedef.js
  packages/service/src/types/errorMessage/internalErrorMessage.js
  packages/service/src/types/errorMessage/publicErrorMessage.js
  packages/service/src/types/errorType/index.js
  packages/service/src/types/pagination/index.js
  packages/service/src/types/pagination/transforms.js
  packages/service/src/types/pagination/typedef.js
  yarn.lock
Due: lint-js-eslint, lint-js-prettier

🔥 Remove magic strings
  packages/ui/src/modules/login/components/Form/index.js
  packages/ui/src/modules/profile/components/Form/index.js
  packages/ui/src/modules/signup/components/Form/index.js
  packages/ui/src/shared/Button/__mocks__/index.js
  packages/ui/src/shared/Button/index.js
  packages/ui/src/shared/forms/Form/__mocks__/index.js
  packages/ui/src/shared/forms/Form/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

💚 Add common transpile to build steps
  .circleci/config.yml
Due: none

✨ Watch shared code during local dev
  .circleci/config.yml
  package.json
  packages/common/package.json
  packages/service/nodemon.json
  packages/service/package.json
  packages/service/src/db/user/usersRead.js
  packages/service/src/db/user/usersReadRaw.js
  packages/service/src/graphql/schema/user/delete.js
  packages/service/src/models/bookshelf.js
  packages/service/src/models/paginator.js
  packages/ui-common/package.json
  packages/ui/package.json
  yarn.lock
Due: lint-js-eslint, lint-js-prettier

✨ Add `postinstall` scripts for common dependencies
  .circleci/config.yml
  package.json
  packages/common/package.json
  packages/service/package.json
  packages/ui-common/package.json
  packages/ui/public/index.html
Due: none
