Repository n8io/boilerplate-monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: lint-css, lint-graphql, lint-js-eslint, lint-js-prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-css:
      glob: 'packages/ui/**/*.js'
      run: yarn -s linter:stylelint {staged_files}
    lint-graphql:
      glob: '.graphql/schema.graphql'
      run: yarn -s linter:graphql
    lint-js-eslint:
      glob: '*.js'
      run: yarn -s linter:eslint {staged_files}
    lint-js-prettier:
      glob: '*.js'
      run: yarn -s linter:prettier {staged_files}

🚸 Tweak local dev apollo.config.js
  .graphql/schema.json
  apollo.config.js
Due: lint-js-eslint, lint-js-prettier

✨ Add GraphQL Voyager to visual the schema
  .graphql/schema.graphql
  .graphql/schema.json
  packages/service/package.json
  packages/service/src/app/router/index.js
  packages/service/src/app/router/voyager.js
  packages/service/src/server/schema/user/recoveryFind/index.js
  packages/service/src/types/route/typedef.js
  yarn.lock
Due: lint-graphql, lint-js-eslint, lint-js-prettier

👷‍♂️ Add code coverage reports with `codecov.io`
  .circleci/config.yml
  package.json
Due: none

📘 Update README with code coverage badge
  README.md
Due: none

🔊 Add client name and version to GraphQL request headers
  packages/ui/src/modules/app/components/App/Providers/GraphQL/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

⬆️ Update apollo-client
  yarn.lock
Due: none

⬆️ Update `@testing-library/react` dependency
  yarn.lock
Due: none

⬆️ Update `apollo-server-testing` dependency
  yarn.lock
Due: none

⬆️ Update all `eslint` dependencies
  yarn.lock
Due: none

⬆️ Update `graphql` dependency
  yarn.lock
Due: none

⬆️ Update `react-axe` dependency
  yarn.lock
Due: none

⬆️ Update `nodemon` dependency
  yarn.lock
Due: none

⬆️ Update `jest` dependency
  yarn.lock
Due: none

⬆️ Upgrade `craco` dependency
  yarn.lock
Due: none

⬆️ Update all the things
  yarn.lock
Due: none

⬆️ Update `react` to latest experimental version
  packages/ui/package.json
  yarn.lock
Due: none

🔥 Remove `core-js`
  package.json
  yarn.lock
Due: none

🚚 Move `@babel/core` and `@babel/preset` to root package.json
  package.json
  packages/common/package.json
  packages/service/package.json
  packages/tool-hook-generator/package.json
  packages/ui-common/package.json
  yarn.lock
Due: none

⬆️ Upgrade ramda and jest-watch-typeahead
  packages/common/package.json
  packages/service/package.json
  packages/tool-hook-generator/package.json
  packages/ui-common/package.json
  packages/ui/package.json
  yarn.lock
Due: none

⬆️ Update `@testing-library/react`
  packages/ui/package.json
  yarn.lock
Due: none

⬆️ Update `babel-plugin-module-resolver` dependency
  package.json
  packages/common/package.json
  packages/service/package.json
  packages/tool-hook-generator/package.json
  packages/ui-common/package.json
  yarn.lock
Due: none

⬆️ Update `change-case` dependency
  packages/ui/package.json
  packages/ui/src/i18n/backend.js
  packages/ui/src/types/customProperties/utils/customProperty.js
  yarn.lock
Due: lint-css, lint-js-eslint, lint-js-prettier

⬆️ Update `ramda` dependency
  packages/tool-hook-generator/package.json
  packages/ui-common/package.json
  yarn.lock
Due: none

⬆️ Update `eslint` and plugins
  .eslintrc.js
  cypress/integration/routes.spec.js
  package.json
  packages/common/package.json
  packages/service/package.json
  packages/service/src/email/user/passwordReset/index.spec.js
  packages/service/src/email/user/passwordResetSuccess/index.spec.js
  packages/service/src/server/schema/user/login/index.spec.js
  packages/service/src/server/schema/user/logout/index.spec.js
  packages/service/src/types/auth/selectors.spec.js
  packages/service/src/types/telemetry/tranforms.spec.js
  packages/tool-hook-generator/package.json
  packages/ui-common/package.json
  packages/ui/package.json
  packages/ui/src/modules/app/components/App/Layout/Footer/Toggles/LanguageToggle/index.js
  packages/ui/src/modules/app/components/App/Layout/Header/UserMenu/Avatar/index.js
  packages/ui/src/shared/Breakpoints/Desktop/index.spec.js
  packages/ui/src/shared/Breakpoints/GreaterThanMobile/index.spec.js
  packages/ui/src/shared/Breakpoints/Huge/index.spec.js
  packages/ui/src/shared/Breakpoints/Mobile/index.spec.js
  packages/ui/src/shared/Breakpoints/Tablet/index.spec.js
  packages/ui/src/shared/Breakpoints/__mocks__/index.js
  yarn.lock
Due: lint-css, lint-js-eslint, lint-js-prettier

⬆️ Update `styled-components` dependency
  packages/ui/package.json
  packages/ui/src/modules/app/components/App/Layout/Footer/Toggles/LanguageToggle/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/app/components/App/Layout/Footer/Toggles/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/app/components/App/Layout/Footer/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/app/components/App/Layout/Header/SkipToContentLink/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/app/components/App/Layout/Header/UserMenu/Avatar/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/app/components/App/Layout/Header/UserMenu/Navigation/NavLink/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/app/components/App/Layout/Header/UserMenu/Navigation/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/app/components/App/Layout/Header/UserMenu/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/app/components/App/Layout/Header/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/app/components/App/Layout/Main/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/app/components/App/Layout/Navigation/AuthLink/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/app/components/App/Layout/Navigation/NavLink/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/app/components/App/Layout/Navigation/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/app/components/App/Layout/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/login/components/Form/Actions/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/notFound/components/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/signup/components/Form/Actions/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/user/components/Recovery/Notify/Form/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/Content/Body/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/Content/Breadcrumbs/Breadcrumb/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/Content/Breadcrumbs/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/Content/Header/SkipToNavLink/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/Content/Header/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/Content/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/DebugError/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/EllipsiedText/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/ErrorPage/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/Link/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/Loader/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/Muted/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/ScreenReaderNotification/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/SkipLink/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/forms/Captcha/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/forms/Input/__snapshots__/index.spec.js.snap
  yarn.lock
Due: none

⬆️ Update `stylelint` linter
  packages/ui/package.json
  yarn.lock
Due: none

⬆️ Update `prettier` dependency
  package.json
  packages/ui/package.json
  packages/ui/src/modules/notFound/components/index.js
  yarn.lock
Due: lint-css, lint-js-eslint, lint-js-prettier

⬆️ Update `cypress` and `react-helmet` dependencies
  cypress/cypress.json
  package.json
  packages/service/package.json
  packages/tool-hook-generator/package.json
  packages/ui/__mocks__/react-helmet.js
  packages/ui/package.json
  packages/ui/src/modules/app/components/App/Layout/FavIcon/index.js
  packages/ui/src/modules/app/components/App/Layout/Meta/index.js
  packages/ui/src/shared/PageTitle/index.js
  yarn.lock
Due: lint-css, lint-js-eslint, lint-js-prettier

🚨 Fix new prettier formatting of `arrowParens` (requires --no-verify)
  .ini/hosts.js
  packages/ui/.postbuild/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

🚨 Fix `jest/expect-expect` rule usage
  .eslintrc.js
  cypress/integration/routes.spec.js
  packages/service/src/email/user/passwordReset/index.spec.js
  packages/service/src/email/user/passwordResetSuccess/index.spec.js
  packages/service/src/server/schema/user/login/index.spec.js
  packages/service/src/server/schema/user/logout/index.spec.js
  packages/service/src/types/auth/selectors.spec.js
  packages/ui/src/shared/Breakpoints/Desktop/index.spec.js
  packages/ui/src/shared/Breakpoints/GreaterThanMobile/index.spec.js
  packages/ui/src/shared/Breakpoints/Huge/index.spec.js
  packages/ui/src/shared/Breakpoints/Mobile/index.spec.js
  packages/ui/src/shared/Breakpoints/Tablet/index.spec.js
Due: lint-css, lint-js-eslint, lint-js-prettier

🐛 Reset captcha on invalid form submission
  packages/ui/package.json
  packages/ui/src/shared/forms/Captcha/index.js
  yarn.lock
Due: lint-css, lint-js-eslint, lint-js-prettier

🔧 Set `service` package to private to prevent accidental public publishing
  packages/service/package.json
Due: none

🔊 Add logging on top level graphql errors
  packages/service/package.json
  packages/service/src/server/context/index.js
  packages/service/src/server/formatError/index.js
  packages/service/src/server/httpsOptions/index.js
  packages/service/src/server/index.js
  packages/service/src/server/server.js
  packages/service/src/testHelpers/graphql.js
  packages/service/src/types/telemetry/index.js
  packages/service/src/types/telemetry/typedef.js
  packages/ui/src/shared/ErrorBoundary/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

🧪 Add spec for `formatError`
  packages/service/src/server/formatError/index.js
  packages/service/src/server/formatError/index.spec.js
Due: lint-js-eslint, lint-js-prettier

✨ Add toBeBetween matcher
  packages/service/src/setupTests.js
Due: lint-js-eslint, lint-js-prettier

🧪 Add spec for `systemTime`
  packages/service/src/log/log.js
  packages/service/src/log/log.spec.js
  packages/service/src/server/formatError/index.spec.js
  packages/service/src/server/schema/system/time/index.js
  packages/service/src/server/schema/system/time/index.spec.js
  packages/service/src/setupTests.js
  packages/service/src/start.js
  packages/service/src/testHelpers/graphql.js
  packages/service/src/testHelpers/index.js
  packages/service/src/testHelpers/neverCalled.js
  packages/service/src/types/telemetry/creation.js
  packages/service/src/types/telemetry/creation.spec.js
  packages/service/src/types/telemetry/index.js
  packages/service/src/types/telemetry/typedef.js
Due: lint-js-eslint, lint-js-prettier

🔧 Update jest.config.js to ignore certain directories wrt to coverage
  packages/common/jest.config.js
  packages/service/jest.config.js
  packages/service/src/setupTests.js
Due: lint-js-eslint, lint-js-prettier

🧹 Fix code coverage reports
  packages/common/jest.config.js
  packages/service/jest.config.js
  packages/ui-common/jest.config.js
  packages/ui/jest.config.js
Due: lint-js-eslint, lint-js-prettier
