Repository n8io/boilerplate-monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: lint-css, lint-js-eslint, lint-js-prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-css:
      glob: 'packages/ui/**/*.js'
      run: yarn -s linter:stylelint {staged_files}
    lint-js-eslint:
      glob: '*.js'
      run: yarn -s linter:eslint {staged_files}
    lint-js-prettier:
      glob: '*.js'
      run: yarn -s linter:prettier {staged_files}

v1.0.0
  lerna.json
Due: none

✨ Add release version and hash to meta tags
  packages/ui/src/modules/app/components/App/Layout/Meta/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

✨ Add version bump... attemp 1
  .github/workflows/deploy-to-github-pages.yml
  package.json
Due: none

v1.0.1-alpha.0
  lerna.json
  packages/ui/package.json
Due: none

💚 Fix GitHub Pages build
  .github/workflows/deploy-to-github-pages.yml
  .nvmrc
  docker/Dockerfile.ui
  lerna.json
  package.json
  packages/common/package.json
  packages/ui-common/package.json
  packages/ui/.env
  packages/ui/.postbuild/index.js
  packages/ui/.prebuild/index.js
  packages/ui/package.json
  packages/ui/src/config/index.js
  packages/ui/src/modules/app/components/App/Layout/Footer/index.js
  packages/ui/src/modules/app/components/App/Layout/Meta/index.js
  packages/ui/src/modules/app/components/App/Providers/Logging/index.js
  packages/ui/src/modules/app/components/App/Providers/index.js
  packages/ui/src/shared/Content/Header/index.js
  packages/ui/src/shared/Content/Header/theme.js
  packages/ui/src/shared/ErrorBoundary/index.js
  packages/ui/src/shared/Muted/index.js
  packages/ui/src/shared/Muted/theme.js
  yarn.lock
Due: lint-css, lint-js-eslint, lint-js-prettier

✨ Add unified test and test:watch
  package.json
  packages/common/package.json
  packages/ui-common/package.json
  packages/ui/src/shared/useTheme/__mocks__/useTheme.js
  packages/ui/src/shared/useTranslate/__mocks__/useTranslate.js
  yarn.lock
Due: lint-css, lint-js-eslint, lint-js-prettier

✨ Add testdouble setup
  packages/ui/.eslintrc.js
  packages/ui/package.json
  packages/ui/src/setupTests.js
  yarn.lock
Due: lint-css, lint-js-eslint, lint-js-prettier

🧪 Add tests for breakpoint components
  packages/ui-common/src/types/theme/creation.js
  packages/ui-common/src/types/theme/examples.js
  packages/ui-common/src/types/theme/index.js
  packages/ui/src/shared/Breakpoints/Default/component.spec.js
  packages/ui/src/shared/Breakpoints/Default/index.js
  packages/ui/src/shared/Breakpoints/Desktop/component.spec.js
  packages/ui/src/shared/Breakpoints/Desktop/index.js
  packages/ui/src/shared/Breakpoints/GreaterThanMobile/component.spec.js
  packages/ui/src/shared/Breakpoints/GreaterThanMobile/index.js
  packages/ui/src/shared/Breakpoints/Huge/component.spec.js
  packages/ui/src/shared/Breakpoints/Huge/index.js
  packages/ui/src/shared/Breakpoints/Mobile/component.spec.js
  packages/ui/src/shared/Breakpoints/Mobile/index.js
  packages/ui/src/shared/Breakpoints/Tablet/component.spec.js
  packages/ui/src/shared/Breakpoints/Tablet/index.js
  packages/ui/src/shared/Breakpoints/index.js
  packages/ui/src/shared/useMediaQuery/index.js
  packages/ui/src/types/breakpoint/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

🔧 Make lerna test run with CI=true
  package.json
Due: none

🧪 Add tests for Button
  packages/ui/src/shared/Button/component.spec.js
Due: lint-css, lint-js-eslint, lint-js-prettier

🧪 Add Content components tests
  packages/ui/src/setupTests.js
  packages/ui/src/shared/Content/Body/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/Content/Body/index.spec.js
  packages/ui/src/shared/Content/Breadcrumbs/Breadcrumb/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/Content/Breadcrumbs/Breadcrumb/index.js
  packages/ui/src/shared/Content/Breadcrumbs/Breadcrumb/index.spec.js
  packages/ui/src/shared/Content/Breadcrumbs/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/Content/Breadcrumbs/index.spec.js
  packages/ui/src/shared/Content/Header/SkipToNavLink/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/Content/Header/SkipToNavLink/index.spec.js
  packages/ui/src/shared/Content/Header/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/Content/Header/index.js
  packages/ui/src/shared/Content/Header/index.spec.js
  packages/ui/src/shared/Content/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/Content/index.spec.js
  packages/ui/src/shared/useTranslate/__mocks__/index.js
  packages/ui/src/types/document/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

🧪 Add DebugError component test
  packages/ui/src/shared/DebugError/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/DebugError/index.spec.js
Due: lint-css, lint-js-eslint, lint-js-prettier

🧪 Add EllipsiedText component test
  packages/ui/src/shared/EllipsiedText/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/EllipsiedText/index.js
  packages/ui/src/shared/EllipsiedText/index.spec.js
Due: lint-css, lint-js-eslint, lint-js-prettier

🧪 Add Loader component test
  packages/ui/src/shared/Loader/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/Loader/index.spec.js
Due: lint-css, lint-js-eslint, lint-js-prettier

🧪 Add Muted component test
  packages/ui/src/shared/Muted/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/Muted/index.spec.js
Due: lint-css, lint-js-eslint, lint-js-prettier

🧪 Add Page component test
  packages/ui/src/shared/Page/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/Page/index.spec.js
Due: lint-css, lint-js-eslint, lint-js-prettier

🧪 Add PageTitle component test
  packages/ui/src/shared/PageTitle/index.spec.js
Due: lint-css, lint-js-eslint, lint-js-prettier

🧪 Add ScreenReaderNotification component test
  packages/ui/src/shared/ScreenReaderNotification/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/ScreenReaderNotification/index.spec.js
Due: lint-css, lint-js-eslint, lint-js-prettier

🧪 Add SkipLink component test
  packages/ui/src/shared/SkipLink/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/SkipLink/index.spec.js
Due: lint-css, lint-js-eslint, lint-js-prettier

♻️ Add Context and Provider types for respective React contexts
  packages/ui-common/src/types/modality/creation.js
  packages/ui-common/src/types/modality/index.js
  packages/ui/src/modules/app/components/App/Providers/Auth/index.js
  packages/ui/src/modules/app/components/App/Providers/Theme/index.js
  packages/ui/src/shared/Button/component.spec.js
  packages/ui/src/shared/ErrorBoundary/index.js
  packages/ui/src/shared/Suspense/index.js
  packages/ui/src/shared/useAuth/index.js
  packages/ui/src/shared/useModality/index.js
  packages/ui/src/shared/useTheme/index.js
  packages/ui/src/testHelpers/index.js
  packages/ui/src/types/context/index.js
  packages/ui/src/types/provider/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

🔥 Remove noop dependency from useTimeout
  packages/ui/src/shared/useTimeout/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

💚 Add tests to build
  .github/workflows/deploy-to-github-pages.yml
Due: none

💚 Add build for feature branches
  .github/workflows/deploy-to-github-pages.yml
  .github/workflows/run-tests.yml
  package.json
  packages/ui/.eslintrc.js
  packages/ui/src/shared/Button/style/context.js
Due: lint-css, lint-js-eslint, lint-js-prettier

✨Add force commit
  .github/workflows/run-tests.yml
Due: none

v1.0.1
  lerna.json
  packages/common/package.json
  packages/ui-common/package.json
  packages/ui/package.json
Due: none

🔥 Remove the need for telemetry (logging) creds
  packages/ui/src/config/index.js
  packages/ui/src/modules/app/components/App/Providers/Logging/index.js
  packages/ui/src/modules/notFound/component.js
  packages/ui/src/shared/ErrorBoundary/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

✨ Add scorched earth for killing named volumes (docker container cache)
  docker/Dockerfile.ui
  package.json
Due: none

🐛 Fix left hand nav not collapsing on Tablet
  packages/ui-common/src/types/breakpoint/index.js
  packages/ui-common/src/types/breakpoint/transforms.js
  packages/ui/src/modules/app/components/App/Layout/Navigation/NavLink/index.js
  packages/ui/src/modules/app/components/App/Layout/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

✨ Add CODEOWNERS file
  .github/CODEOWNERS
Due: none

✨ Add support for prefers-reduced-motion
  packages/ui/src/modules/app/components/App/Providers/GlobalStyles/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

✨ Add e2e tests with Cypress
  .eslintrc.js
  .github/workflows/deploy-to-github-pages.yml
  .github/workflows/run-tests.yml
  .gitignore
  cypress/cypress.json
  cypress/integration/footer.spec.js
  cypress/integration/routes.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package.json
  packages/common/src/types/utils/debounce/index.js
  packages/ui/.env
  packages/ui/src/modules/app/components/App/Layout/Footer/Toggles/LanguageToggle/index.js
  packages/ui/src/modules/app/components/App/Layout/Footer/Toggles/ThemeToggle/index.js
  yarn.lock
Due: lint-css, lint-js-eslint, lint-js-prettier

♻️ Rename component.spec.js to index.spec.js
  packages/ui/src/shared/Breakpoints/Default/index.spec.js
  packages/ui/src/shared/Breakpoints/Desktop/index.spec.js
  packages/ui/src/shared/Breakpoints/GreaterThanMobile/index.spec.js
  packages/ui/src/shared/Breakpoints/Huge/index.spec.js
  packages/ui/src/shared/Breakpoints/Mobile/index.spec.js
  packages/ui/src/shared/Breakpoints/Tablet/index.spec.js
  packages/ui/src/shared/Button/index.spec.js
Due: lint-css, lint-js-eslint, lint-js-prettier

🐳 Rename ui container to "ui"
  docker/docker-compose.yml
Due: none

🚨 Cleanup and consolidate eslintrc's
  .eslintrc.js
  cypress/.eslintrc.js
  cypress/integration/footer.spec.js
  cypress/integration/routes.spec.js
  packages/common/.eslintignore
  packages/common/.eslintrc.js
  packages/ui-common/.eslintignore
  packages/ui-common/.eslintrc.js
  packages/ui/.eslintignore
  packages/ui/.eslintrc.js
  packages/ui/package.json
  packages/ui/src/i18n/fake.js
Due: lint-css, lint-js-eslint, lint-js-prettier

🚚 Move remaining misc docker files to docker directory
  docker/Dockerfile.ui
  docker/docker-compose.yml
  docker/entrypoint.sh
Due: none

🎭 Add mock for react-focus-lock
  packages/ui/__mocks__/react-focus-lock.js
  packages/ui/src/shared/Page/__snapshots__/index.spec.js.snap
Due: lint-css, lint-js-eslint, lint-js-prettier

✨ Add renameKeys and isNullOrEmpty utils
  packages/common/package.json
  packages/common/src/types/utils/index.js
  packages/common/src/types/utils/isNullOrEmpty/index.js
  packages/common/src/types/utils/isNullOrEmpty/isNullOrEmpty.spec.js
  packages/common/src/types/utils/renameKeys/index.js
  packages/common/src/types/utils/renameKeys/renameKeys.spec.js
  packages/ui/src/modules/about/index.js
  packages/ui/src/modules/dashboard/index.js
  packages/ui/src/modules/notFound/index.js
  packages/ui/src/modules/testPage/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

✨ Tweak how components are mapped to modules
  packages/ui/src/modules/app/components/App/Layout/Header/Navigation/index.js
  packages/ui/src/modules/app/components/App/Layout/Navigation/index.js
  packages/ui/src/modules/app/components/App/Router/index.js
  packages/ui/src/modules/app/routes/index.js
  packages/ui/src/types/route/index.js
  packages/ui/src/types/route/selectors.js
Due: lint-css, lint-js-eslint, lint-js-prettier

🚨 Allow a higher max-nested-callback (3 to 4)
  .eslintrc.js
  cypress/integration/footer.spec.js
Due: lint-js-eslint, lint-js-prettier
