Repository n8io/boilerplate-monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: lint-css, lint-graphql, lint-js-eslint, lint-js-prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-css:
      glob: 'packages/ui/**/*.js'
      run: yarn -s linter:stylelint {staged_files}
    lint-graphql:
      glob: '.graphql/schema.graphql'
      run: yarn -s linter:graphql
    lint-js-eslint:
      glob: '*.js'
      run: yarn -s linter:eslint {staged_files}
    lint-js-prettier:
      glob: '*.js'
      run: yarn -s linter:prettier {staged_files}

build(deps): ✨ Add `apollo-server-lamda`
  packages/service/package.json
  yarn.lock
Due: none

chore: ⏪ Revert lambda conditional split
  packages/service/src/handlers/app.js
  packages/service/src/index.js
  packages/service/src/server/index.js
  packages/service/src/start.js
  packages/service/src/testHelpers/graphql.js
Due: lint-js-eslint, lint-js-prettier

build(deps): ✨ Add `serverless-http` to the mix
  packages/service/package.json
  yarn.lock
Due: none

chore: ♻️ Extract server startup
  packages/service/src/index.js
  packages/service/src/start.js
Due: lint-js-eslint, lint-js-prettier

feat(aws): ✨ Add aws serverless postgres scripts
  packages/aws/aws-down.sh
  packages/aws/aws-up.sh
  packages/aws/down.sh
  packages/aws/up.sh
Due: none

chore(yarn): 🧶 Update `yarn.lock`
  yarn.lock
Due: none

feat(docker): ✨ Add docker lambda service stuffs
  docker/Dockerfile.service.lambda
  docker/docker-compose.yml
Due: none

feat(aws): ✨ Add aws provisioning scripts
  .dockerignore
  docker/docker-compose.yml
  packages/aws/adhoc.sh
  packages/aws/aws-down.sh
  packages/aws/aws-up.sh
  packages/aws/down.sh
  packages/aws/up.sh
Due: none

feat(serverless): ✨ Make the service lambda compatible
  packages/service/src/app/index.js
  packages/service/src/config/index.js
  packages/service/src/email/mailer.js
  packages/service/src/email/user/passwordReset/index.js
  packages/service/src/email/user/passwordResetSuccess/index.js
  packages/service/src/handlers/app.js
  packages/service/src/index.js
  packages/service/src/migrations/20201120210332_seed-admin-user.js
  packages/service/src/start.js
  packages/service/src/types/processEnvKeys/typedef.js
  packages/service/src/types/route/typedef.js
Due: lint-js-eslint, lint-js-prettier

build(aws): 🚚 Move aws stuffs out of `packages`
  aws/adhoc.sh
  aws/aws-down.sh
  aws/aws-up.sh
  aws/down.sh
  aws/up.sh
Due: none

fix(cors): 🐛 Fix cors issues
  packages/service/src/app/middleware/cors.js
  packages/service/src/server/index.js
  packages/service/src/types/cors/index.js
Due: lint-js-eslint, lint-js-prettier

chore(build): ✨ Add env specific `REACT_APP_GRAPHQL_URI` to deployment
  .circleci/config.yml
  .ini/certs/cert.pem
  .ini/certs/key.pem
  aws/aws-down.sh
  aws/aws-up.sh
  packages/service/src/config/index.js
  packages/service/src/start.js
  packages/ui/src/i18n/en/common/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

fix: 🐛 Don't overwrite `GRAPHQL_URI` when provided by the env
  packages/ui/src/config/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

chore: ♻️ Update default `REACT_APP_GRAPHQL_URI`
  packages/ui/.env
Due: none

chore: ⏪ Revert config update
  packages/ui/src/config/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

chore(cors): 🔥 Remove cors to see if that fixes issues
  packages/service/src/app/middleware/index.js
  packages/service/src/server/index.js
Due: lint-js-eslint, lint-js-prettier

feat(cors): ✨ Fix cors once and for all
  packages/service/.env.example
  packages/service/src/app/middleware/index.js
  packages/service/src/handlers/app.js
  packages/service/src/server/index.js
  packages/ui/src/modules/app/components/App/Providers/GraphQL/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

v1.9.0
  CHANGELOG.md
  lerna.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/service/CHANGELOG.md
  packages/service/package.json
  packages/ui-common/CHANGELOG.md
  packages/ui-common/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: none

chore(cors): 🔥 Remove extra cors header
  packages/service/src/handlers/app.js
Due: lint-js-eslint, lint-js-prettier

feat: ✨ Add `useIsColdStart` hook
  packages/ui/src/modules/app/components/App/useIsColdStarting/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

feat: ✨ Add `useIsColdStart` to `useIsAppReady`
  packages/ui/src/modules/app/components/App/useAppReady/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

chore: ♻️ Pull package name from `config`
  packages/ui/src/types/logFactory/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

feat: ✨ Add `ColdStart` overlay
  packages/ui/src/modules/app/components/App/Overlays/ColdStart/index.js
  packages/ui/src/modules/app/components/App/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

chore: 💚 Fix broken snapshot
  packages/ui/src/modules/app/components/App/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/app/components/App/index.spec.js
  packages/ui/src/modules/app/components/App/useIsColdStarting/index.js
  packages/ui/src/types/logFactory/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

💚 Add docker image push to build
  .circleci/config.yml
Due: none

feat(aws): ✨ Split aws up script into 2 environments
  aws/aws-down.sh
  aws/aws-up.sh
Due: none

build(aws): ✨ Lambda-fy migrations
  .eslintignore
  docker/Dockerfile.lambda.graphql
  docker/Dockerfile.lambda.migrations
  package.json
  packages/service/knexfile.js
  packages/service/package.json
  packages/service/src/handlers/migrations.js
  yarn.lock
Due: lint-js-eslint, lint-js-prettier

feat(db): ✨ Randomize db password
  aws/aws-down.sh
  aws/aws-up.sh
Due: none

chore: 🚨 Fix lint issue
  packages/service/knexfile.js
Due: lint-js-eslint, lint-js-prettier

feat(captcha): ✨ Add captcha to build
  .circleci/config.yml
Due: none

feat(aws): ✨ Add randomness to aws db creds
  aws/adhoc.sh
  aws/aws-down.sh
  aws/aws-up.sh
Due: none

chore(dx): 🔥 Remove local lambda
  docker/docker-compose.yml
Due: none

feat: ✨ Add `REDIS_KEY_PREFIX` to share the same cache
  packages/service/.env.example
  packages/service/src/config/index.js
  packages/service/src/types/processEnvKeys/typedef.js
Due: lint-js-eslint, lint-js-prettier

feat(cors): ✨ Attempt 3 billion of solving cors issues
  packages/service/src/cache/index.js
  packages/service/src/handlers/app.js
  packages/service/src/types/cors/index.js
  packages/ui/src/modules/app/components/App/Providers/GraphQL/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

fix(lint): 🚨 Fix lint issue
  packages/service/src/handlers/app.js
Due: lint-js-eslint, lint-js-prettier

feat: ✨ Re-add custom apollo headers
  packages/service/src/handlers/app.js
Due: lint-js-eslint, lint-js-prettier

feat: ✨ Add `graphql.local.host` to local `hosts`
  .ini/hosts.js
Due: lint-js-eslint, lint-js-prettier

feat: 🚨 Fix lint issues
  packages/service/src/handlers/app.js
  packages/service/src/types/cors/index.js
Due: lint-js-eslint, lint-js-prettier

feat: ✨ Add graphql operation name to url [ch63]
  packages/ui/src/modules/app/components/App/Providers/GraphQL/link/http.js
Due: lint-css, lint-js-eslint, lint-js-prettier
