Repository n8io/boilerplate-monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: lint-css, lint-graphql, lint-js-eslint, lint-js-prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-css:
      glob: 'packages/ui/**/*.js'
      run: yarn -s linter:stylelint {staged_files}
    lint-graphql:
      glob: '.graphql/schema.graphql'
      run: yarn -s linter:graphql
    lint-js-eslint:
      glob: '*.js'
      run: yarn -s linter:eslint {staged_files}
    lint-js-prettier:
      glob: '*.js'
      run: yarn -s linter:prettier {staged_files}

fix: 🐛 Send AuthenticationError instead of ForbiddenError
  packages/service/src/server/schema/directives/isAuthenticated.js
Due: lint-js-eslint, lint-js-prettier

fix: 🐛 Fix how paginated results omit deleted rows
  packages/service/src/db/client/users/readRaw/index.js
  packages/service/src/db/client/users/readRaw/index.spec.js
Due: lint-js-eslint, lint-js-prettier

fix: 🐛 Fix specs for Unauthenticated error instead of Forbidden
  packages/service/src/server/schema/user/delete/index.spec.js
  packages/service/src/server/schema/user/revokeRefreshTokens/index.spec.js
  packages/service/src/server/schema/user/self/index.spec.js
  packages/service/src/server/schema/user/selfSecurityUpdate/index.spec.js
  packages/service/src/server/schema/user/selfUpdate/index.spec.js
  packages/ui-common/src/types/font/typedef.js
  packages/ui/src/i18n/en/common/index.js
  packages/ui/src/modules/app/components/App/Layout/Header/UserMenu/Navigation/index.js
  packages/ui/src/modules/app/components/App/Layout/Main/index.js
  packages/ui/src/shared/ErrorNotification/index.js
  packages/ui/src/shared/Loader/index.js
  packages/ui/src/shared/NoData/__mocks__/index.js
  packages/ui/src/shared/NoData/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/NoData/index.js
  packages/ui/src/shared/NoData/index.spec.js
  packages/ui/src/shared/UserList/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/UserList/index.js
  packages/ui/src/shared/UserList/index.spec.js
  packages/ui/src/shared/forms/Captcha/index.js
  packages/ui/src/shared/forms/Input/index.js
  packages/ui/src/shared/forms/RadioInput/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

refactor: ♻️ Refactor `UserRole` and `UserSnapshot` typeDefs
  packages/common/src/types/userRole/index.js
  packages/common/src/types/userRole/typedef.js
  packages/common/src/types/userSnapshot/index.js
  packages/common/src/types/userSnapshot/typedef.js
  packages/service/src/server/schema/user/self/index.js
Due: lint-js-eslint, lint-js-prettier

feat: ✨ Add `useIsInternetConnected` hook
  packages/ui/src/i18n/en/common/index.js
  packages/ui/src/modules/app/components/App/Layout/Main/index.js
  packages/ui/src/modules/app/components/App/Providers/InternetConnectivity/index.js
  packages/ui/src/modules/app/components/App/Providers/index.js
  packages/ui/src/shared/useInterval/index.js
  packages/ui/src/shared/useIsInternetConnected/__mocks__/index.js
  packages/ui/src/shared/useIsInternetConnected/index.js
  packages/ui/src/types/context/index.js
  packages/ui/src/types/provider/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

feat: ✨ Add `UserList` to users page
  packages/common/src/index.js
  packages/common/src/types/pagination/examples.js
  packages/common/src/types/pagination/index.js
  packages/common/src/types/pagination/transform.spec.js
  packages/common/src/types/pagination/transforms.js
  packages/common/src/types/pagination/typedef.js
  packages/service/src/db/client/users/readRaw/index.js
  packages/service/src/db/client/users/readRaw/index.spec.js
  packages/service/src/server/schema/users/users/index.js
  packages/service/src/server/schema/users/users/index.spec.js
  packages/service/src/types/errorType/typedef.js
  packages/service/src/types/pagination/examples.js
  packages/ui/package.json
  packages/ui/src/i18n/en/user.js
  packages/ui/src/i18n/en/users.js
  packages/ui/src/modules/user/components/Account/Profile/Form/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/user/components/Account/Profile/Form/index.js
  packages/ui/src/modules/users/components/List/index.js
  packages/ui/src/modules/users/components/List/index.spec.js
  packages/ui/src/shared/Content/Header/index.js
  packages/ui/src/shared/UserList/__mocks__/index.js
  packages/ui/src/shared/UserList/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/UserList/index.js
  packages/ui/src/shared/UserList/index.spec.js
  packages/ui/src/shared/graphql/query/useUsers.js
  yarn.lock
Due: lint-css, lint-js-eslint, lint-js-prettier

chore: ♻️ Allow any password for dev logins
  .circleci/exit-untouched.sh
  packages/service/src/types/password/selectors.js
  packages/ui/src/i18n/en/users.js
  packages/ui/src/modules/app/components/App/Providers/FontLoader/index.js
  packages/ui/src/modules/user/components/Recovery/Notify/Form/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/user/components/Recovery/Notify/Form/index.js
  packages/ui/src/modules/users/components/List/index.js
  packages/ui/src/modules/users/components/List/index.spec.js
  packages/ui/src/shared/NoData/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/NoData/index.js
  packages/ui/src/shared/UserList/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/UserList/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

v1.3.0
  CHANGELOG.md
  lerna.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/service/CHANGELOG.md
  packages/service/package.json
  packages/ui-common/CHANGELOG.md
  packages/ui-common/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: none

chore(build): 🐛 Gather changes since last git tag
  .circleci/exit-untouched.sh
Due: none

chore: 📘 Fix copy
  .circleci/exit-untouched.sh
Due: none

chore: ♻️ Make sure to run pre/postbuild steps on deploy
  lefthook.yml
  packages/service/.postbuild/envCheck.js
  packages/service/.prebuild/index.js
Due: lint-js-eslint, lint-js-prettier

chore: 🐛 Fix test failures when running locally
  packages/service/src/types/password/selectors.js
Due: lint-js-eslint, lint-js-prettier

chore: ⬆️ Upgrade dependencies
  yarn.lock
Due: none

fix: 🐛 Double posting success message on profile save
  packages/ui/src/modules/app/components/App/Providers/InternetConnectivity/index.js
  packages/ui/src/modules/user/components/Account/Profile/Form/index.js
  yarn.lock
Due: lint-css, lint-js-eslint, lint-js-prettier

v1.3.1
  CHANGELOG.md
  lerna.json
  packages/service/CHANGELOG.md
  packages/service/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: none

fix: 🐛 Throw email in use error when necessary
  packages/service/src/server/schema/user/selfUpdate/index.js
  packages/service/src/server/schema/user/selfUpdate/index.spec.js
  packages/service/src/types/customError/user/selfUpdate.js
  packages/service/src/types/errorMessage/internalErrorMessage.js
  packages/service/src/types/errorType/typedef.js
  packages/ui/src/i18n/en/user.js
Due: lint-css, lint-js-eslint, lint-js-prettier

build: 💚 Fix conditional pre/post build steps
  packages/service/.postbuild/envCheck.js
  packages/service/.prebuild/index.js
Due: lint-js-eslint, lint-js-prettier

build: 💚 Fix conditional pre/post build steps (UI)
  packages/ui/.postbuild/envCheck.js
  packages/ui/.prebuild/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

v1.3.2
  CHANGELOG.md
  lerna.json
  packages/service/CHANGELOG.md
  packages/service/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: none

chore: 💚 Fix prebuild script for UI
  packages/ui/.env
  packages/ui/.prebuild/index.js
  packages/ui/package.json
  packages/ui/src/modules/app/components/App/Layout/Meta/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/app/components/App/Layout/Meta/index.js
  packages/ui/src/modules/app/components/App/Layout/Meta/index.spec.js
  yarn.lock
Due: lint-css, lint-js-eslint, lint-js-prettier

feat(feature-flags): ✨Add SplitIO for feature flags functionality
  packages/ui/.env
  packages/ui/package.json
  packages/ui/src/modules/app/components/App/Providers/Auth/index.js
  packages/ui/src/modules/app/components/App/Providers/FeatureFlags/index.js
  packages/ui/src/modules/app/components/App/Providers/index.js
  packages/ui/src/shared/useAuth/__mocks__/index.js
  packages/ui/src/shared/useFeatureFlags/__mocks__/index.js
  packages/ui/src/shared/useFeatureFlags/index.js
  packages/ui/src/types/context/index.js
  packages/ui/src/types/provider/index.js
  yarn.lock
Due: lint-css, lint-js-eslint, lint-js-prettier

chore: ✨ Add FeatureFlag and FeatureFlagValue types to common
  packages/common/src/index.js
  packages/common/src/types/featureFlag/index.js
  packages/common/src/types/featureFlag/selectors.js
  packages/common/src/types/featureFlag/selectors.spec.js
  packages/common/src/types/featureFlag/typedef.js
  packages/common/src/types/featureFlagValue/index.js
  packages/common/src/types/featureFlagValue/typedef.js
Due: lint-js-eslint, lint-js-prettier

feat: ✨Add SplitIO functionality
  packages/ui-common/src/types/localStorage/typedef.js
  packages/ui/.env
  packages/ui/package.json
  packages/ui/src/modules/app/components/App/Providers/Auth/index.js
  packages/ui/src/modules/app/components/App/Providers/FeatureFlags/index.js
  packages/ui/src/modules/app/components/App/Providers/Features/index.js
  packages/ui/src/modules/app/components/App/Providers/index.js
  packages/ui/src/modules/dashboard/components/index.js
  packages/ui/src/shared/Feature/__mocks__/index.js
  packages/ui/src/shared/Feature/index.js
  packages/ui/src/shared/Feature/index.spec.js
  packages/ui/src/shared/useFeatureFlag/index.js
  packages/ui/src/shared/useFeatureFlags/__mocks__/index.js
  packages/ui/src/shared/useFeatureFlags/index.js
  yarn.lock
Due: lint-css, lint-js-eslint, lint-js-prettier

feat(feature-flags): ✨ Properly track anonymous users
  packages/ui-common/src/types/localStorage/typedef.js
  packages/ui/package.json
  packages/ui/src/i18n/en/common/index.js
  packages/ui/src/modules/app/components/App/Providers/Auth/index.js
  packages/ui/src/modules/app/components/App/Providers/Features/index.js
  packages/ui/src/modules/app/components/App/Providers/Features/index.spec.js
  packages/ui/src/modules/logout/components/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/logout/components/index.js
  packages/ui/src/modules/logout/components/index.spec.js
  packages/ui/src/setupTests.js
  packages/ui/src/shared/Muted/__mocks__/index.js
  packages/ui/src/shared/useFeatureFlag/index.js
  packages/ui/src/types/anonymousId/index.js
  packages/ui/src/types/anonymousId/index.spec.js
  yarn.lock
Due: lint-css, lint-js-eslint, lint-js-prettier

v1.4.0
  CHANGELOG.md
  lerna.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/service/CHANGELOG.md
  packages/service/package.json
  packages/ui-common/CHANGELOG.md
  packages/ui-common/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: none

chore: 🧪 Add specs for mutation and query hooks
  packages/ui/src/shared/graphql/mutation/useUserDelete.js
  packages/ui/src/shared/graphql/mutation/useUserDelete.spec.js
  packages/ui/src/shared/graphql/mutation/useUserLogin.js
  packages/ui/src/shared/graphql/mutation/useUserLogin.spec.js
  packages/ui/src/shared/graphql/mutation/useUserLogout.js
  packages/ui/src/shared/graphql/mutation/useUserLogout.spec.js
  packages/ui/src/shared/graphql/mutation/useUserPasswordReset.js
  packages/ui/src/shared/graphql/mutation/useUserPasswordReset.spec.js
  packages/ui/src/shared/graphql/mutation/useUserPasswordResetRequest.js
  packages/ui/src/shared/graphql/mutation/useUserPasswordResetRequest.spec.js
  packages/ui/src/shared/graphql/mutation/useUserRegister.js
  packages/ui/src/shared/graphql/mutation/useUserRegister.spec.js
  packages/ui/src/shared/graphql/mutation/useUserRevokeRefreshTokens.js
  packages/ui/src/shared/graphql/mutation/useUserRevokeRefreshTokens.spec.js
  packages/ui/src/shared/graphql/mutation/useUserSelfSecurityUpdate.js
  packages/ui/src/shared/graphql/mutation/useUserSelfSecurityUpdate.spec.js
  packages/ui/src/shared/graphql/mutation/useUserSelfUpdate.js
  packages/ui/src/shared/graphql/mutation/useUserSelfUpdate.spec.js
  packages/ui/src/shared/graphql/query/useSystemTime.js
  packages/ui/src/shared/graphql/query/useSystemTime.spec.js
  packages/ui/src/shared/graphql/query/useUserPasswordResetTokenValidate.js
  packages/ui/src/shared/graphql/query/useUserPasswordResetTokenValidate.spec.js
  packages/ui/src/shared/graphql/query/useUserRecoveryFind.js
  packages/ui/src/shared/graphql/query/useUserRecoveryFind.spec.js
  packages/ui/src/shared/graphql/query/useUserSelf.js
  packages/ui/src/shared/graphql/query/useUserSelf.spec.js
  packages/ui/src/shared/graphql/query/useUsers.js
  packages/ui/src/shared/graphql/query/useUsers.spec.js
Due: lint-css, lint-js-eslint, lint-js-prettier

refactor: ♻️ Refactor tool-hook-generator to add specs
  packages/tool-hook-generator/_templates/hooks-generator/mutation/useMutation.ejs.t
  packages/tool-hook-generator/_templates/hooks-generator/mutation/useMutation.spec.ejs.t
  packages/tool-hook-generator/_templates/hooks-generator/query/useQuery.ejs.t
  packages/tool-hook-generator/_templates/hooks-generator/query/useQuery.spec.ejs.t
  packages/tool-hook-generator/src/toTypeFields.js
  packages/ui/src/shared/graphql/mutation/useUserLogin.js
  packages/ui/src/shared/graphql/mutation/useUserRegister.js
  packages/ui/src/shared/graphql/mutation/useUserSelfUpdate.js
  packages/ui/src/shared/graphql/query/useSystemTime.spec.js
  packages/ui/src/shared/graphql/query/useUserRecoveryFind.spec.js
Due: lint-css, lint-js-eslint, lint-js-prettier

refactor: ♻️ Add specs for a handful of custom hooks
  packages/ui/package.json
  packages/ui/src/shared/useAuth/index.spec.js
  packages/ui/src/shared/useFeatureFlag/index.js
  packages/ui/src/shared/useFeatureFlag/index.spec.js
  packages/ui/src/shared/useIsInternetConnected/index.spec.js
  packages/ui/src/shared/useLongPress/index.js
  packages/ui/src/shared/useMediaQuery/index.js
  packages/ui/src/shared/useModality/index.spec.js
  packages/ui/src/shared/useTheme/index.spec.js
  yarn.lock
Due: lint-css, lint-js-eslint, lint-js-prettier

feat: ✨ Add prompt when navigating away from dirty forms
  packages/ui/__mocks__/react-router-dom.js
  packages/ui/src/i18n/en/common/index.js
  packages/ui/src/modules/user/components/Account/Profile/Form/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/user/components/Account/Profile/Form/index.js
  packages/ui/src/modules/user/components/Account/Security/Form/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/user/components/Account/Security/Form/index.js
  packages/ui/src/modules/user/components/Routing/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/users/components/Routing/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/forms/Form/index.js
  packages/ui/src/shared/forms/Form/index.spec.js
Due: lint-css, lint-js-eslint, lint-js-prettier

refactor: ♻️ Rename `userSelfUpdate` mutation to `userSelfProfileUpdate`
  packages/service/insomnia/config.yaml
  packages/service/src/server/schema/user/index.js
  packages/service/src/server/schema/user/passwordReset/index.js
  packages/service/src/server/schema/user/passwordResetRequest/index.js
  packages/service/src/server/schema/user/selfProfileUpdate/index.js
  packages/service/src/server/schema/user/selfProfileUpdate/index.spec.js
  packages/service/src/server/schema/user/selfSecurityUpdate/index.js
  packages/service/src/types/customError/user/index.js
  packages/service/src/types/customError/user/selfProfileUpdate.js
  packages/service/src/types/customError/user/selfSecurityUpdate.js
  packages/service/src/types/errorMessage/internalErrorMessage.js
  packages/service/src/types/errorMessage/publicErrorMessage.js
  packages/service/src/types/errorType/typedef.js
  packages/ui/src/i18n/en/user.js
  packages/ui/src/modules/user/components/Account/Profile/Form/index.js
  packages/ui/src/modules/user/components/Account/Profile/Form/index.spec.js
  packages/ui/src/modules/user/components/index.spec.js
  packages/ui/src/shared/graphql/mutation/index.js
  packages/ui/src/shared/graphql/mutation/useUserSelfProfileUpdate.js
  packages/ui/src/shared/graphql/mutation/useUserSelfProfileUpdate.spec.js
  packages/ui/src/shared/graphql/mutation/useUserSelfUpdate.js
Due: lint-css, lint-js-eslint, lint-js-prettier

refactor: ♻️ Rename `email` to `emailMasked`
  packages/common/src/types/userRecovery/transforms.js
  packages/common/src/types/userRecovery/typedef.js
  packages/service/insomnia/config.yaml
  packages/service/src/server/schema/user/recoveryFind/index.js
  packages/service/src/server/schema/user/recoveryFind/index.spec.js
  packages/ui/src/modules/user/components/Recovery/Notify/Form/index.js
  packages/ui/src/shared/graphql/query/useUserRecoveryFind.js
Due: lint-css, lint-js-eslint, lint-js-prettier

refactor: ♻️ Rename common type to `UserSelfProfileUpdateInput`
  .graphql/schema.graphql
  .graphql/schema.json
  packages/common/src/index.js
  packages/common/src/types/userSelfProfileUpdateInput/creation.js
  packages/common/src/types/userSelfProfileUpdateInput/creation.spec.js
  packages/common/src/types/userSelfProfileUpdateInput/examples.js
  packages/common/src/types/userSelfProfileUpdateInput/index.js
  packages/common/src/types/userSelfProfileUpdateInput/transforms.js
  packages/common/src/types/userSelfProfileUpdateInput/typedef.js
  packages/common/src/types/userSelfProfileUpdateInput/validation.js
  packages/common/src/types/userSelfProfileUpdateInput/validation.spec.js
  packages/tool-hook-generator/package.json
  packages/ui/src/modules/user/components/Account/Profile/Form/index.js
  yarn.lock
Due: lint-css, lint-graphql, lint-js-eslint, lint-js-prettier

feat(feature-flags): ✨ Add attribute map to feature flag requests
  packages/common/src/types/featureFlag/typedef.js
  packages/ui/src/modules/app/components/App/Layout/Main/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/app/components/App/Layout/Main/index.js
  packages/ui/src/modules/app/components/App/Layout/Main/index.spec.js
  packages/ui/src/modules/dashboard/components/index.js
  packages/ui/src/shared/Feature/index.js
  packages/ui/src/shared/Feature/index.spec.js
  packages/ui/src/shared/useFeatureFlag/index.js
  packages/ui/src/shared/useFeatureFlag/index.spec.js
Due: lint-css, lint-js-eslint, lint-js-prettier

feat(logrocket): ✨ Add user info to LogRocket session tracking
  packages/ui/src/modules/app/components/App/Providers/Auth/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

v1.5.0
  CHANGELOG.md
  lerna.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/service/CHANGELOG.md
  packages/service/package.json
  packages/tool-hook-generator/CHANGELOG.md
  packages/tool-hook-generator/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: none

chore: 🤖 Add robots.txt file
  packages/ui/public/robots.txt
Due: none

chore: ✨ Add default favicon
  packages/ui/public/android-chrome-192x192.png
  packages/ui/public/android-chrome-512x512.png
  packages/ui/public/apple-touch-icon.png
  packages/ui/public/favicon-16x16.png
  packages/ui/public/favicon-32x32.png
  packages/ui/public/favicon.ico
Due: none

chore: ⚡ Add preconnect links to index.html
  packages/ui/public/index.html
Due: none

chore: ⚡ Add swap to inital Google font load
  packages/ui/src/modules/app/components/App/Providers/FontLoader/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier
