Repository n8io/boilerplate-monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: lint-css, lint-graphql, lint-js-eslint, lint-js-prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-css:
      glob: 'packages/ui/**/*.js'
      run: yarn -s linter:stylelint {staged_files}
    lint-graphql:
      glob: '.graphql/schema.graphql'
      run: yarn -s linter:graphql
    lint-js-eslint:
      glob: '*.js'
      run: yarn -s linter:eslint {staged_files}
    lint-js-prettier:
      glob: '*.js'
      run: yarn -s linter:prettier {staged_files}

🧹 More code coverage fixes
  packages/common/src/types/logLevel/index.js
  packages/common/src/types/logLevel/typedef.js
  packages/service/jest.config.js
  packages/ui-common/jest.config.js
  packages/ui/__mocks__/reakit/Radio.js
  packages/ui/jest.config.js
  packages/ui/src/modules/app/components/App/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/app/components/App/index.spec.js
  packages/ui/src/shared/Notification/LogLevelIcon/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/Notification/LogLevelIcon/index.js
  packages/ui/src/shared/Notification/LogLevelIcon/index.spec.js
  packages/ui/src/shared/forms/RadioInput/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/forms/RadioInput/index.spec.js
Due: lint-css, lint-js-eslint, lint-js-prettier

🧪 Add spec for email transform
  packages/common/src/types/email/transforms.js
  packages/common/src/types/email/transforms.spec.js
  packages/common/src/utils/isNullOrEmpty/index.spec.js
Due: lint-js-eslint, lint-js-prettier

🧪 Add spec for phone transforms
  packages/common/src/types/phone/examples.js
  packages/common/src/types/phone/transforms.js
  packages/common/src/types/phone/transforms.spec.js
Due: lint-js-eslint, lint-js-prettier

v1.0.2
  CHANGELOG.md
  lerna.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/service/CHANGELOG.md
  packages/service/package.json
  packages/tool-hook-generator/CHANGELOG.md
  packages/tool-hook-generator/package.json
  packages/ui-common/CHANGELOG.md
  packages/ui-common/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: none

feat: ✨ Add automated semantic releases
  .releaserc.js
  package.json
  packages/ui/.env
  packages/ui/.postbuild/index.js
  packages/ui/.prebuild/index.js
  packages/ui/package.json
  yarn.lock
Due: lint-css, lint-js-eslint, lint-js-prettier

feat: ✨ Add pre/post build steps to upload sourcemaps
  .circleci/config.yml
  packages/service/.env.example
  packages/service/.postbuild/envCheck.js
  packages/service/.postbuild/index.js
  packages/service/.postbuild/makeRelease.js
  packages/service/.postbuild/sentry.js
  packages/service/.prebuild/index.js
  packages/service/.sentrycliignore
  packages/service/package.json
  packages/service/src/types/telemetry/creation.js
  packages/service/src/types/telemetry/creation.spec.js
  packages/ui/.env
  packages/ui/.postbuild/envCheck.js
  packages/ui/.postbuild/logRocket.js
  packages/ui/.postbuild/makeRelease.js
  packages/ui/.postbuild/sentry.js
  packages/ui/package.json
  packages/ui/src/modules/app/components/App/Layout/Footer/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/app/components/App/Layout/Footer/index.js
  packages/ui/src/modules/app/components/App/Layout/Footer/index.spec.js
  packages/ui/src/modules/app/components/App/Layout/Meta/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/app/components/App/Layout/Meta/index.js
  packages/ui/src/modules/app/components/App/Layout/Meta/index.spec.js
  yarn.lock
Due: lint-css, lint-js-eslint, lint-js-prettier

feat: 💚 Add release to ci workflow for master
  .circleci/config.yml
  packages/service/src/types/telemetry/creation.spec.js
Due: lint-js-eslint, lint-js-prettier

fix: 💚 Fix semantic release on builds
  .circleci/config.yml
  packages/common/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  1d5066db75be6a538480e353b534f9f5140929c9
Due: none

fix(build): 💚 Attempt to fix semantic releases
  .circleci/config.yml
  .releaserc.js
  package.json
  yarn.lock
Due: lint-js-eslint, lint-js-prettier

fix: 💚 Sematic release troubleshooting
  .circleci/config.yml
  packages/service/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  4f5ba5e4ec810b66c564df96d4c5a95b36ec0acd
Due: none

fix: ⬇️ Rollback versions to 1.0.0
  CHANGELOG.md
  packages/common/package.json
  packages/service/package.json
  packages/tool-hook-generator/CHANGELOG.md
  packages/tool-hook-generator/package.json
  packages/ui-common/CHANGELOG.md
  packages/ui-common/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: none

Notes added by 'git notes add'
  e173e1aae513c54bb720b3dc907b95803b96e900
Due: none

fix: 🔧 Remove success and fail comments during release
  .releaserc.js
Due: lint-js-eslint, lint-js-prettier

Notes added by 'git notes add'
  77f1018f2f56e2db10eb1b0431d6a086b4cb9c33
Due: none

fix: ⬅️ Revert package versions
  packages/service/package.json
  packages/ui/package.json
Due: none

Notes added by 'git notes add'
  d27780fdd1dd49d831bee0296326ff2918a12bdb
Due: none

fix: 💚 Update how cache keys are read
  .circleci/config.yml
  CHANGELOG.md
  lerna.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/service/CHANGELOG.md
  packages/service/package.json
  packages/tool-hook-generator/CHANGELOG.md
  packages/tool-hook-generator/package.json
  packages/ui-common/CHANGELOG.md
  packages/ui-common/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  yarn.lock
Due: none

fix: 🔥 Remove extra build stuffs around version bumping
  .circleci/config.yml
  .releaserc.js
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/service/CHANGELOG.md
  packages/service/package.json
  packages/tool-hook-generator/CHANGELOG.md
  packages/tool-hook-generator/package.json
  packages/ui-common/CHANGELOG.md
  packages/ui-common/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  yarn.lock
Due: lint-js-eslint, lint-js-prettier

feat: ✨Add approval job to tagged builds for deployment
  .circleci/config.yml
Due: none

docs: 📘 Update README with release instructions
  README.md
Due: none

fix(build): 🐛 Only enable deployment on tagged release builds
  .circleci/config.yml
  README.md
  package.json
Due: none

v1.1.0
  CHANGELOG.md
  lerna.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/service/CHANGELOG.md
  packages/service/package.json
  packages/tool-hook-generator/CHANGELOG.md
  packages/tool-hook-generator/package.json
  packages/ui-common/CHANGELOG.md
  packages/ui-common/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: none

style(linting): 🚨 Add commitlint to pre-commit checks
  commitlint.config.js
  lefthook.yml
  package.json
  yarn.lock
Due: lint-js-eslint, lint-js-prettier

test: 🧪 Add e2e test for login page
  cypress/cypress.json
  cypress/fixtures/users.js
  cypress/integration/login.spec.js
  cypress/support/commands.js
  cypress/support/index.js
  cypress/support/unhandledExceptions.js
  packages/ui/src/shared/Notification/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

refactor: ♻️ Update `MenuDisclosure` to `MenuButton` for Reakit
  packages/ui/__mocks__/reakit/Menu.js
  packages/ui/src/modules/app/components/App/Layout/Footer/Toggles/LanguageToggle/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/app/components/App/Layout/Footer/Toggles/LanguageToggle/index.js
  packages/ui/src/modules/app/components/App/Layout/Header/UserMenu/Avatar/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/app/components/App/Layout/Header/UserMenu/Avatar/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

chore(a11y): 🔥 Remove `react-axe` tool in dev mode
  packages/ui/package.json
  packages/ui/src/index.js
  yarn.lock
Due: lint-css, lint-js-eslint, lint-js-prettier

chore(dx): 🏎️ Implement fast refresh
  packages/ui/craco.config.js
  packages/ui/package.json
  yarn.lock
Due: lint-js-eslint, lint-js-prettier

v1.1.1
  CHANGELOG.md
  lerna.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: none

feat(ui): ✨ Add user management page and respective nav links
  packages/common/src/types/permission/index.js
  packages/common/src/types/permission/typedef.js
  packages/common/src/types/userRole/index.js
  packages/common/src/types/userRole/typedef.js
  packages/ui/craco.config.js
  packages/ui/package.json
  packages/ui/src/i18n/en/app.js
  packages/ui/src/i18n/en/users.js
  packages/ui/src/modules/app/components/App/Layout/Header/UserMenu/Navigation/index.js
  packages/ui/src/modules/app/components/App/Layout/Header/UserMenu/Navigation/index.spec.js
  packages/ui/src/modules/app/components/App/Layout/Navigation/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/app/components/App/Layout/Navigation/index.js
  packages/ui/src/modules/app/components/App/Layout/Navigation/index.spec.js
  packages/ui/src/modules/app/components/App/Providers/Auth/index.js
  packages/ui/src/modules/app/routes/index.js
  packages/ui/src/modules/logout/components/index.js
  packages/ui/src/modules/user/components/Routing/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/user/components/Routing/index.spec.js
  packages/ui/src/modules/users/components/List/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/users/components/List/index.js
  packages/ui/src/modules/users/components/List/index.spec.js
  packages/ui/src/modules/users/components/Routing/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/users/components/Routing/index.js
  packages/ui/src/modules/users/components/Routing/index.spec.js
  packages/ui/src/modules/users/components/index.js
  packages/ui/src/modules/users/index.js
  packages/ui/src/shared/AuthRoute/__mocks__/index.js
  packages/ui/src/shared/Can/index.js
  packages/ui/src/shared/Can/index.spec.js
  packages/ui/src/types/jwt/selectors.js
  packages/ui/src/types/route/examples.js
  packages/ui/src/types/route/typedef.js
Due: lint-css, lint-js-eslint, lint-js-prettier

v1.2.0
  CHANGELOG.md
  lerna.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/service/CHANGELOG.md
  packages/service/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: none

fix: 🐛 Send AuthenticationError instead of ForbiddenError on unauthed requests
  packages/service/src/server/schema/directives/isAuthenticated.js
Due: lint-js-eslint, lint-js-prettier

refactor: ♻️ Refactor `UserRole` and `UserSnapshot` typeDefs
  packages/common/src/types/userRole/index.js
  packages/common/src/types/userRole/typedef.js
  packages/common/src/types/userSnapshot/index.js
  packages/common/src/types/userSnapshot/typedef.js
  packages/service/src/server/schema/user/self/index.js
Due: lint-js-eslint, lint-js-prettier

feat: ✨ Add `useIsInternetConnected` hook
  packages/ui/src/i18n/en/common/index.js
  packages/ui/src/modules/app/components/App/Layout/Main/index.js
  packages/ui/src/modules/app/components/App/Providers/InternetConnectivity/index.js
  packages/ui/src/modules/app/components/App/Providers/index.js
  packages/ui/src/shared/useInterval/index.js
  packages/ui/src/shared/useIsInternetConnected/__mocks__/index.js
  packages/ui/src/shared/useIsInternetConnected/index.js
  packages/ui/src/types/context/index.js
  packages/ui/src/types/provider/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

feat: ✨ Add `UserList` to users page
  packages/common/src/index.js
  packages/common/src/types/pagination/examples.js
  packages/common/src/types/pagination/index.js
  packages/common/src/types/pagination/transform.spec.js
  packages/common/src/types/pagination/transforms.js
  packages/common/src/types/pagination/typedef.js
  packages/service/src/db/client/users/readRaw/index.js
  packages/service/src/db/client/users/readRaw/index.spec.js
  packages/service/src/server/schema/users/users/index.js
  packages/service/src/server/schema/users/users/index.spec.js
  packages/service/src/types/errorType/typedef.js
  packages/service/src/types/pagination/examples.js
  packages/ui/package.json
  packages/ui/src/i18n/en/user.js
  packages/ui/src/i18n/en/users.js
  packages/ui/src/modules/user/components/Account/Profile/Form/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/user/components/Account/Profile/Form/index.js
  packages/ui/src/modules/users/components/List/index.js
  packages/ui/src/modules/users/components/List/index.spec.js
  packages/ui/src/shared/Content/Header/index.js
  packages/ui/src/shared/UserList/__mocks__/index.js
  packages/ui/src/shared/UserList/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/UserList/index.js
  packages/ui/src/shared/UserList/index.spec.js
  packages/ui/src/shared/graphql/query/useUsers.js
  yarn.lock
Due: lint-css, lint-js-eslint, lint-js-prettier

fix: 🐛 Fix specs for Unauthenticated error instead of Forbidden
  packages/service/src/server/schema/user/delete/index.spec.js
  packages/service/src/server/schema/user/revokeRefreshTokens/index.spec.js
  packages/service/src/server/schema/user/self/index.spec.js
  packages/service/src/server/schema/user/selfSecurityUpdate/index.spec.js
  packages/service/src/server/schema/user/selfUpdate/index.spec.js
  packages/ui-common/src/types/font/typedef.js
  packages/ui/src/i18n/en/common/index.js
  packages/ui/src/modules/app/components/App/Layout/Header/UserMenu/Navigation/index.js
  packages/ui/src/modules/app/components/App/Layout/Main/index.js
  packages/ui/src/shared/ErrorNotification/index.js
  packages/ui/src/shared/Loader/index.js
  packages/ui/src/shared/NoData/__mocks__/index.js
  packages/ui/src/shared/NoData/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/NoData/index.js
  packages/ui/src/shared/NoData/index.spec.js
  packages/ui/src/shared/UserList/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/UserList/index.js
  packages/ui/src/shared/UserList/index.spec.js
  packages/ui/src/shared/forms/Captcha/index.js
  packages/ui/src/shared/forms/Input/index.js
  packages/ui/src/shared/forms/RadioInput/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

fix: 🐛 Fix how paginated results omit deleted rows
  packages/service/src/db/client/users/readRaw/index.js
  packages/service/src/db/client/users/readRaw/index.spec.js
Due: lint-js-eslint, lint-js-prettier

chore: ♻️ Allow any password for dev logins
  .circleci/exit-untouched.sh
  packages/service/src/types/password/selectors.js
  packages/ui/src/i18n/en/users.js
  packages/ui/src/modules/app/components/App/Providers/FontLoader/index.js
  packages/ui/src/modules/user/components/Recovery/Notify/Form/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/user/components/Recovery/Notify/Form/index.js
  packages/ui/src/modules/users/components/List/index.js
  packages/ui/src/modules/users/components/List/index.spec.js
  packages/ui/src/shared/NoData/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/NoData/index.js
  packages/ui/src/shared/UserList/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/UserList/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier
