Repository n8io/boilerplate-monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: lint-css, lint-js-eslint, lint-js-prettier

lint-css:
  run: yarn -s linter:stylelint {staged_files}

lint-js-eslint:
  run: yarn -s linter:eslint {staged_files}

lint-js-prettier:
  run: yarn -s linter:prettier {staged_files}

🧪 Add tests to ErrorPage
  packages/ui/src/modules/app/components/App/Layout/Header/index.spec.js
  packages/ui/src/shared/DebugError/index.js
  packages/ui/src/shared/DebugError/index.spec.js
  packages/ui/src/shared/ErrorBoundary/index.js
  packages/ui/src/shared/ErrorPage/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/ErrorPage/index.js
  packages/ui/src/shared/ErrorPage/index.spec.js
Due: lint-css, lint-js-eslint, lint-js-prettier

✨ Add User type to common
  packages/common/babel.config.js
  packages/common/index.js
  packages/common/package.json
  packages/common/src/types/time/index.js
  packages/common/src/types/time/seconds/index.spec.js
  packages/common/src/types/user/examples.js
  packages/common/src/types/user/index.js
  packages/common/src/types/user/typedef.js
  packages/common/src/types/utils/makeSafeExample/index.js
  packages/common/src/types/utils/makeSafeExample/index.spec.js
  packages/common/src/utils/debounce/index.js
  packages/common/src/utils/index.js
  packages/common/src/utils/isNullOrEmpty/index.js
  packages/common/src/utils/isNullOrEmpty/index.spec.js
  packages/common/src/utils/noop/index.js
  packages/common/src/utils/noop/index.spec.js
  packages/common/src/utils/renameKeys/index.js
  packages/common/src/utils/renameKeys/index.spec.js
  packages/ui-common/babel.config.js
  packages/ui/src/modules/app/components/App/Layout/Header/Navigation/AuthButton/index.spec.js
  packages/ui/src/modules/app/components/App/Layout/Header/index.spec.js
  packages/ui/src/modules/app/components/App/Layout/Navigation/AuthButton/index.spec.js
  packages/ui/src/modules/app/components/App/Providers/Auth/index.js
  yarn.lock
Due: lint-css, lint-js-eslint, lint-js-prettier

🔥 Remove Default breakpoint (unnecessary)
  packages/ui/src/shared/Breakpoints/Default/index.js
  packages/ui/src/shared/Breakpoints/Default/index.spec.js
  packages/ui/src/shared/Breakpoints/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

✨ Add PR template
  .github/pull_request_template.md
Due: none

⬆️ Upgrade every dependency
  docker/docker-compose.yml
  packages/ui/package.json
  yarn.lock
Due: none

⬆️ Upgrade to concurrent mode #13
  packages/ui/package.json
  packages/ui/src/index.js
  yarn.lock
Due: lint-css, lint-js-eslint, lint-js-prettier

✨ Enable React's Concurrent Mode
  packages/ui/.env
  packages/ui/package.json
  packages/ui/src/config/index.js
  packages/ui/src/i18n/backend.js
  packages/ui/src/i18n/en/error.js
  packages/ui/src/i18n/fake.js
  packages/ui/src/i18n/index.js
  packages/ui/src/shared/ErrorPage/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/ErrorPage/index.js
  packages/ui/src/shared/ErrorPage/index.spec.js
  packages/ui/src/types/language/typedef.js
  yarn.lock
Due: lint-css, lint-js-eslint, lint-js-prettier

⬆️ Update all dependencies
  yarn.lock
Due: none

🚨 Disable react/display-name
  .eslintrc.js
  packages/ui/src/modules/app/components/App/Layout/Footer/Toggles/index.spec.js
  packages/ui/src/modules/app/components/App/Layout/Footer/index.spec.js
  packages/ui/src/modules/app/components/App/Layout/Header/Navigation/index.spec.js
  packages/ui/src/modules/app/components/App/Layout/Header/index.spec.js
  packages/ui/src/modules/app/components/App/Layout/Main/index.spec.js
  packages/ui/src/modules/app/components/App/Layout/Navigation/index.spec.js
  packages/ui/src/modules/app/components/App/Layout/index.spec.js
  packages/ui/src/shared/Content/Breadcrumbs/index.spec.js
  packages/ui/src/shared/Content/Header/index.spec.js
Due: lint-css, lint-js-eslint, lint-js-prettier

🐳 Add postgres to docker-compose.yml
  .gitignore
  docker/docker-compose.yml
Due: none

🚧 Add initial service/Typescript setup
  .gitignore
  ormconfig.js
  packages/service/.env.example
  packages/service/jsconfig.json
  packages/service/package.json
  packages/service/src/app/index.ts
  packages/service/src/app/router/index.ts
  packages/service/src/db/index.ts
  packages/service/src/entity/User.ts
  packages/service/src/index.ts
  packages/service/src/resolvers/index.ts
  packages/service/src/resolvers/user/login.ts
  packages/service/src/resolvers/user/register.ts
  packages/service/src/resolvers/user/users.ts
  packages/service/src/server/index.ts
  packages/service/src/types/auth/index.ts
  packages/service/src/types/auth/selectors.ts
  packages/service/src/types/auth/typedef.ts
  packages/service/src/types/context/index.ts
  packages/service/src/types/passwordSalt/index.ts
  packages/service/src/types/processEnv/index.ts
  packages/service/src/types/processEnv/typedef.ts
  packages/service/tsconfig.json
  yarn.lock
Due: lint-js-eslint, lint-js-prettier

✨ Add jwt and migration support
  ormconfig.js
  package.json
  packages/service/.env.example
  packages/service/package.json
  packages/service/src/app/index.ts
  packages/service/src/app/middleware/index.ts
  packages/service/src/app/router/heartbeat.ts
  packages/service/src/app/router/index.ts
  packages/service/src/app/router/refreshToken.ts
  packages/service/src/db/connect.ts
  packages/service/src/db/index.ts
  packages/service/src/db/migrate.ts
  packages/service/src/entity/User.ts
  packages/service/src/resolvers/index.ts
  packages/service/src/resolvers/user/login.ts
  packages/service/src/resolvers/user/register.ts
  packages/service/src/resolvers/user/revokeRefreshTokens.ts
  packages/service/src/resolvers/user/users.ts
  packages/service/src/types/auth/index.ts
  packages/service/src/types/auth/selectors.ts
  packages/service/src/types/auth/transforms.ts
  packages/service/src/types/db/index.ts
  packages/service/src/types/processEnv/typedef.ts
  packages/service/src/types/route/index.ts
  packages/service/src/types/route/typedef.ts
  packages/service/tsconfig.json
  yarn.lock
Due: lint-js-eslint, lint-js-prettier

✨ Add support for relative module pathing
  package.json
  packages/service/jsconfig.json
  packages/service/package.json
  packages/service/src/app/index.ts
  packages/service/src/app/router/index.ts
  packages/service/src/app/router/refreshToken.ts
  packages/service/src/index.ts
  packages/service/src/resolvers/user/login.ts
  packages/service/src/resolvers/user/register.ts
  packages/service/src/resolvers/user/revokeRefreshTokens.ts
  packages/service/src/resolvers/user/users.ts
  packages/service/src/server/index.ts
  packages/service/src/types/context/index.ts
  packages/service/tsconfig.json
  yarn.lock
Due: none

🐳 Dockerize service
  docker/Dockerfile.service
  docker/docker-compose.yml
  package.json
  packages/service/package.json
  packages/service/src/resolvers/user/revokeRefreshTokens.ts
Due: none

✨ Split out error messages
  packages/service/src/app/index.ts
  packages/service/src/app/router/refreshToken.ts
  packages/service/src/resolvers/index.ts
  packages/service/src/resolvers/user/login.ts
  packages/service/src/resolvers/user/me.ts
  packages/service/src/resolvers/user/register.ts
  packages/service/src/resolvers/user/revokeRefreshTokens.ts
  packages/service/src/server/index.ts
  packages/service/src/types/accessToken/index.ts
  packages/service/src/types/auth/index.ts
  packages/service/src/types/auth/selectors.ts
  packages/service/src/types/auth/transforms.ts
  packages/service/src/types/context/index.ts
  packages/service/src/types/error/auth.ts
  packages/service/src/types/error/index.ts
  packages/service/src/types/error/public.ts
  packages/service/src/types/refreshToken/index.ts
  packages/service/src/types/tokenPayload/index.ts
Due: none

🔊 Add custom logger
  packages/service/src/app/index.ts
  packages/service/src/app/router/refreshToken.ts
  packages/service/src/db/migrate.ts
  packages/service/src/logger/index.ts
  packages/service/src/resolvers/user/login.ts
  packages/service/src/resolvers/user/register.ts
  packages/service/src/resolvers/user/revokeRefreshTokens.ts
  packages/service/src/types/auth/selectors.ts
Due: none

🔧 Add Insomnia config
  packages/service/insomnia/config.yaml
Due: none

✨ Add pagination to users query
  packages/service/insomnia/config.yaml
  packages/service/src/entity/PageInfo.ts
  packages/service/src/logger/index.ts
  packages/service/src/resolvers/user/users.ts
Due: none

🚚 Move PageInfo type
  packages/service/.env.example
  packages/service/src/entity/User.ts
  packages/service/src/resolvers/user/users.ts
  packages/service/src/types/pageInfo/index.ts
Due: none

✨ Extract generic paginate utility
  packages/service/src/entity/User.ts
  packages/service/src/resolvers/user/users.ts
  packages/service/src/types/pageInfo/index.ts
  packages/service/src/types/pagination/edge/index.ts
  packages/service/src/types/pagination/input/index.ts
  packages/service/src/types/pagination/page/index.ts
  packages/service/src/types/pagination/pageInfo/index.ts
  packages/service/src/types/pagination/paginate.ts
  packages/service/src/types/users/index.ts
Due: none

✨ Add snake/lower casing naming strategy to entities
  packages/service/package.json
  packages/service/src/db/connect.ts
  packages/service/src/entity/User.ts
  yarn.lock
Due: none

🔐 Add Authorized decorator for fine grained queries
  packages/service/src/app/index.ts
  packages/service/src/app/router/refreshToken.ts
  packages/service/src/entity/User.ts
  packages/service/src/index.ts
  packages/service/src/resolvers/user/login.ts
  packages/service/src/resolvers/user/me.ts
  packages/service/src/resolvers/user/register.ts
  packages/service/src/resolvers/user/revokeRefreshTokens.ts
  packages/service/src/resolvers/user/users.ts
  packages/service/src/server/index.ts
  packages/service/src/types/accessToken/index.ts
  packages/service/src/types/auth/index.ts
  packages/service/src/types/auth/selectors.ts
  packages/service/src/types/context/index.ts
  packages/service/src/types/error/index.ts
  packages/service/src/types/errorMessage/index.ts
  packages/service/src/types/errorMessage/internalErrorMessage.ts
  packages/service/src/types/errorMessage/publicErrorMessage.ts
  packages/service/src/types/refreshToken/index.ts
  packages/service/src/types/userContext/index.ts
  packages/service/src/types/userRole/index.ts
  packages/service/src/types/users/index.ts
Due: none

✨ Add build script
  .gitignore
  package.json
  packages/service/.env.example
  packages/service/package.json
  packages/service/tsconfig.json
  yarn.lock
Due: none

🔊 Add timestamp to logger
  packages/service/src/logger/index.ts
Due: none

✨Add support for Apollo Graphq Manager
  apollo.config.js
  package.json
  packages/service/.env.example
  packages/service/package.json
  packages/service/src/resolvers/user/me.ts
  yarn.lock
Due: lint-js-eslint, lint-js-prettier

✨ Add UserDelete mutation
  packages/service/src/entity/User.ts
  packages/service/src/resolvers/index.ts
  packages/service/src/resolvers/user/revokeRefreshTokens.ts
  packages/service/src/resolvers/user/userDelete.ts
  packages/service/src/types/errorMessage/internalErrorMessage.ts
  packages/service/src/types/errorMessage/publicErrorMessage.ts
  packages/service/src/types/pagination/paginate.ts
Due: none

✨ Add custom error handling
  packages/service/.env.example
  packages/service/package.json
  packages/service/src/app/index.ts
  packages/service/src/app/router/refreshToken.ts
  packages/service/src/db/migrate.ts
  packages/service/src/log/index.ts
  packages/service/src/log/logFactory.ts
  packages/service/src/resolvers/user/login.ts
  packages/service/src/resolvers/user/me.ts
  packages/service/src/resolvers/user/register.ts
  packages/service/src/resolvers/user/revokeRefreshTokens.ts
  packages/service/src/resolvers/user/userDelete.ts
  packages/service/src/resolvers/user/users.ts
  packages/service/src/server/formatError.ts
  packages/service/src/server/index.ts
  packages/service/src/types/auth/selectors.ts
  packages/service/src/types/customError/database/index.ts
  packages/service/src/types/customError/index.ts
  packages/service/src/types/customError/user/index.ts
  packages/service/src/types/customError/user/login.ts
  packages/service/src/types/customError/user/register.ts
  packages/service/src/types/customError/user/revokeRefreshTokens.ts
  packages/service/src/types/customError/user/userDelete.ts
  packages/service/src/types/errorMessage/internalErrorMessage.ts
  packages/service/src/types/errorMessage/publicErrorMessage.ts
  packages/service/src/types/errorProperties/index.ts
  packages/service/src/types/errorType/index.ts
  packages/service/src/types/passwordSalt/index.ts
  yarn.lock
Due: none

♻️ Prefix (almost) all user mutation names with 'user'
  packages/service/src/resolvers/index.ts
  packages/service/src/resolvers/user/delete.ts
  packages/service/src/resolvers/user/index.ts
  packages/service/src/resolvers/user/login.ts
  packages/service/src/resolvers/user/me.ts
  packages/service/src/resolvers/user/register.ts
  packages/service/src/resolvers/user/revokeRefreshTokens.ts
  packages/service/src/resolvers/user/users.ts
  packages/service/src/types/customError/database/index.ts
  packages/service/src/types/customError/user/delete.ts
  packages/service/src/types/customError/user/index.ts
  packages/service/src/types/customError/user/login.ts
  packages/service/src/types/customError/user/me.ts
  packages/service/src/types/customError/user/revokeRefreshTokens.ts
  packages/service/src/types/errorMessage/internalErrorMessage.ts
  packages/service/src/types/errorMessage/publicErrorMessage.ts
  packages/service/src/types/errorType/index.ts
Due: none

♻️ Top level export customError and pagination types
  packages/service/src/resolvers/user/delete.ts
  packages/service/src/resolvers/user/register.ts
  packages/service/src/resolvers/user/revokeRefreshTokens.ts
  packages/service/src/resolvers/user/users.ts
  packages/service/src/types/auth/selectors.ts
  packages/service/src/types/auth/transforms.ts
  packages/service/src/types/pagination/index.ts
  packages/service/src/types/pagination/page/index.ts
Due: none

🐛 Disallow deleted users to login
  packages/service/.env.example
  packages/service/package.json
  packages/service/src/entity/User.ts
  packages/service/src/resolvers/user/delete.ts
  packages/service/src/resolvers/user/login.ts
  packages/service/src/resolvers/user/me.ts
  packages/service/src/types/auth/index.ts
  packages/service/src/types/auth/selectors.ts
  packages/service/src/types/customError/user/login.ts
  packages/service/src/types/customError/user/me.ts
  packages/service/src/types/errorMessage/internalErrorMessage.ts
  packages/service/src/types/errorType/index.ts
  yarn.lock
Due: none

🔧 Update Insomnia config
  packages/service/insomnia/config.yaml
Due: none

✨ Add initial migrations
  packages/service/.env.example
  packages/service/package.json
  packages/service/src/entity/User.ts
  packages/service/src/migration/1578454030242-create-schema.ts
  packages/service/src/migration/1578454119658-create-enum-user-role.ts
  packages/service/src/migration/1578454219812-create-table-users.ts
  packages/service/src/migration/1578454295736-create-table-users-indexes.ts
Due: none

✨ Add graceful app shutdown
  packages/service/src/app/index.ts
  packages/service/src/db/connect.ts
  packages/service/src/db/migrate.ts
  packages/service/src/server/index.ts
Due: none

🐛 Fix how debug logging is stringified
  packages/service/src/log/logFactory.ts
Due: none

🔧 Clean up how migrations are written
  packages/service/src/db/migrate/index.ts
  packages/service/src/db/migrate/utils/index.ts
  packages/service/src/migration/1578454030242-create-schema.ts
  packages/service/src/migration/1578454119658-create-enum-user-role.ts
  packages/service/src/migration/1578454219812-create-table-users.ts
  packages/service/src/migration/1578454295736-create-table-users-indexes.ts
  packages/service/src/migration/1578562150637-create-table-users-index-deleted-at.ts
Due: none

🎫 Add MIT license file
  LICENSE
Due: none

📘 Add README
  README.md
  package.json
  packages/common/package.json
  packages/service/package.json
  packages/ui-common/package.json
  packages/ui/package.json
  screenshot.png
Due: none

✨ Add db connection retry and backoff logic for service
  packages/service/src/db/connect.ts
Due: none

🔧 Update the access token source (refresh token response)
  packages/service/insomnia/config.yaml
Due: none

✨ Add SignUp page to site
  packages/ui/src/i18n/en/app.js
  packages/ui/src/i18n/en/signUp.js
  packages/ui/src/modules/app/components/App/Layout/Navigation/index.js
  packages/ui/src/modules/app/routes/index.js
  packages/ui/src/modules/signUp/__snapshots__/component.spec.js.snap
  packages/ui/src/modules/signUp/component.js
  packages/ui/src/modules/signUp/component.spec.js
  packages/ui/src/modules/signUp/index.js
  packages/ui/src/types/route/typedef.js
Due: lint-css, lint-js-eslint, lint-js-prettier

Path conditions:
  lint-css: any of: packages/ui/**/*.js
  lint-js-eslint: any of: *.js
  lint-js-prettier: any of: *.js
