Repository n8io/boilerplate-monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: lint-css, lint-js-eslint, lint-js-prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-css:
      glob: 'packages/ui/**/*.js'
      run: yarn -s linter:stylelint {staged_files}
    lint-js-eslint:
      glob: '*.js'
      run: yarn -s linter:eslint {staged_files}
    lint-js-prettier:
      glob: '*.js'
      run: yarn -s linter:prettier {staged_files}

💚 Fix prod build
  .circleci/config.yml
  packages/ui-common/index.js
  packages/ui-common/package.json
  packages/ui-common/src/index.js
Due: lint-js-eslint, lint-js-prettier

✨ Add `SubmitButton` for forms
  .circleci/config.yml
  packages/ui/__mocks__/react-hook-form.js
  packages/ui/src/modules/app/components/App/Layout/Footer/Toggles/ThemeToggle/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/app/components/App/Layout/Footer/Toggles/ThemeToggle/index.js
  packages/ui/src/modules/app/components/App/Layout/Footer/Toggles/ThemeToggle/index.spec.js
  packages/ui/src/modules/app/components/App/Layout/Footer/Toggles/ToggleButton/__mocks__/index.js
  packages/ui/src/modules/app/components/App/Layout/Header/UserMenu/Navigation/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/app/components/App/Layout/Header/UserMenu/Navigation/index.spec.js
  packages/ui/src/modules/login/components/Form/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/login/components/Form/index.js
  packages/ui/src/modules/login/components/Form/index.spec.js
  packages/ui/src/modules/profile/components/Form/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/profile/components/Form/index.js
  packages/ui/src/modules/profile/components/Form/index.spec.js
  packages/ui/src/modules/signup/components/Form/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/signup/components/Form/index.js
  packages/ui/src/modules/signup/components/Form/index.spec.js
  packages/ui/src/shared/forms/Form/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/forms/SubmitButton/__mocks__/index.js
  packages/ui/src/shared/forms/SubmitButton/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/forms/SubmitButton/index.js
  packages/ui/src/shared/forms/SubmitButton/index.spec.js
Due: lint-css, lint-js-eslint, lint-js-prettier

✨ Add rate limiting
  packages/service/package.json
  packages/service/src/graphql/cache.js
  packages/service/src/graphql/context.js
  packages/service/src/graphql/schema/directives/index.js
  packages/service/src/graphql/schema/directives/rateLimitBurst.js
  packages/service/src/graphql/schema/directives/rateLimitWindow.js
  packages/service/src/graphql/schema/user/login.js
  packages/service/src/graphql/schema/user/logout.js
  packages/service/src/graphql/schema/user/register.js
  packages/service/src/types/customError/index.js
  packages/service/src/types/customError/rateLimit/index.js
  packages/service/src/types/errorMessage/internalErrorMessage.js
  packages/service/src/types/errorMessage/publicErrorMessage.js
  packages/service/src/types/errorType/index.js
  packages/service/src/types/rateLimit/creation.js
  packages/service/src/types/rateLimit/index.js
  packages/service/src/types/rateLimit/selectors.js
  yarn.lock
Due: lint-js-eslint, lint-js-prettier

🌐 Add translation for rate limit
  packages/ui/src/i18n/en/common/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

🧹 Extract rate limites to `RateLimit` type
  packages/common/src/types/time/index.js
  packages/common/src/types/time/seconds/index.js
  packages/common/src/types/time/seconds/index.spec.js
  packages/service/src/graphql/schema/user/login.js
  packages/service/src/graphql/schema/user/logout.js
  packages/service/src/graphql/schema/user/register.js
  packages/service/src/types/rateLimit/index.js
  packages/service/src/types/rateLimit/typedef.js
Due: lint-js-eslint, lint-js-prettier

✨ Add password reset functionality
  packages/service/insomnia/config.yaml
  packages/ui/src/i18n/en/common/index.js
  packages/ui/src/i18n/en/user.js
  packages/ui/src/modules/app/components/App/Layout/Header/UserMenu/Avatar/index.js
  packages/ui/src/modules/app/components/App/Layout/Header/UserMenu/Navigation/index.js
  packages/ui/src/modules/login/components/Form/index.js
  packages/ui/src/modules/signup/components/Form/index.js
  packages/ui/src/modules/user/components/Account/Main/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/user/components/Account/Main/index.js
  packages/ui/src/modules/user/components/Account/Profile/Form/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/user/components/Account/Profile/Form/index.js
  packages/ui/src/modules/user/components/Account/Profile/Form/index.spec.js
  packages/ui/src/modules/user/components/Account/Profile/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/user/components/Account/Profile/index.js
  packages/ui/src/modules/user/components/Account/Profile/index.spec.js
  packages/ui/src/modules/user/components/Account/Security/Form/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/user/components/Account/Security/Form/index.js
  packages/ui/src/modules/user/components/Account/Security/Form/index.spec.js
  packages/ui/src/modules/user/components/Account/index.js
  packages/ui/src/modules/user/components/Routing/index.js
  packages/ui/src/shared/AuthRoute/index.js
  packages/ui/src/shared/forms/SubmitButton/index.js
  packages/ui/src/types/route/typedef.js
Due: lint-css, lint-js-eslint, lint-js-prettier

💚 Add `yarn` install to each package `build` script
  .circleci/config.yml
Due: none

✨ Add sensible defaults to `.env` file examples
  README.md
  package.json
  packages/service/.env.example
  packages/ui/.env
  packages/ui/src/modules/app/components/App/Layout/Footer/__snapshots__/index.spec.js.snap
Due: none

✨ Default `useForm` hook and `Form` component to use `mode: 'onBlur'`
  packages/ui/src/shared/forms/Form/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/forms/Form/index.js
  packages/ui/src/shared/forms/useForm/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

🚸 Add `react-hook-form-devtools` for easier form debugging
  packages/ui/.env
  packages/ui/package.json
  packages/ui/src/modules/app/components/App/Layout/Footer/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/forms/Form/FormDevTool/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/forms/Form/FormDevTool/index.js
  packages/ui/src/shared/forms/Form/FormDevTool/index.spec.js
  packages/ui/src/shared/forms/Form/index.js
  packages/ui/src/shared/forms/Form/index.spec.js
  yarn.lock
Due: lint-css, lint-js-eslint, lint-js-prettier

🔥 Remove email mailer from context
  packages/service/src/email/user/passwordReset/index.js
  packages/service/src/graphql/context.js
Due: lint-js-eslint, lint-js-prettier

✨ Add dataloader scaffolding for users
  .ini/hosts.js
  README.md
  package.json
  packages/common/src/types/user/transforms.js
  packages/service/package.json
  packages/service/src/db/user/userRegister.js
  packages/service/src/db/user/userSave.js
  packages/service/src/db/user/usersReadAll.js
  packages/service/src/db/user/usersReadRaw.js
  packages/service/src/graphql/context.js
  packages/service/src/graphql/loaders/index.js
  packages/service/src/graphql/loaders/user.js
  yarn.lock
Due: lint-js-eslint, lint-js-prettier

🧹 Clean up custom error names
  packages/service/src/app/router/refreshToken.js
  packages/service/src/graphql/schema/user/delete.js
  packages/service/src/graphql/schema/user/passwordReset.js
  packages/service/src/graphql/schema/user/passwordResetRequest.js
  packages/service/src/graphql/schema/user/passwordResetTokenValidate.js
  packages/service/src/graphql/schema/user/recoveryFind.js
  packages/service/src/graphql/schema/user/register.js
  packages/service/src/graphql/schema/user/revokeRefreshTokens.js
  packages/service/src/graphql/schema/user/self.js
  packages/service/src/graphql/schema/user/selfSecurityUpdate.js
  packages/service/src/graphql/schema/user/selfUpdate.js
  packages/service/src/graphql/schema/user/users.js
  packages/service/src/types/auth/selectors.js
  packages/service/src/types/customError/email/index.js
  packages/service/src/types/customError/user/delete.js
  packages/service/src/types/customError/user/login.js
  packages/service/src/types/customError/user/passwordReset.js
  packages/service/src/types/customError/user/register.js
  packages/service/src/types/customError/user/revokeRefreshTokens.js
  packages/service/src/types/customError/user/self.js
  packages/service/src/types/customError/user/selfSecurityUpdate.js
  packages/service/src/types/customError/user/selfUpdate.js
  packages/service/src/types/errorMessage/internalErrorMessage.js
  packages/service/src/types/errorMessage/publicErrorMessage.js
  packages/service/src/types/errorType/index.js
  packages/ui/src/i18n/en/signup.js
  packages/ui/src/i18n/en/user.js
Due: lint-css, lint-js-eslint, lint-js-prettier

♻️ Refactor how rate limiters are made so they're easier to access
  packages/service/package.json
  packages/service/src/graphql/schema/directives/index.js
  packages/service/src/graphql/schema/directives/rateLimitBurst.js
  packages/service/src/graphql/schema/directives/rateLimitUsername.js
  packages/service/src/graphql/schema/directives/rateLimitWindow.js
  packages/service/src/graphql/schema/user/login.js
  packages/service/src/graphql/schema/user/logout.js
  packages/service/src/graphql/schema/user/passwordReset.js
  packages/service/src/graphql/schema/user/passwordResetRequest.js
  packages/service/src/graphql/schema/user/passwordResetTokenValidate.js
  packages/service/src/graphql/schema/user/recoveryFind.js
  packages/service/src/graphql/schema/user/register.js
  packages/service/src/types/rateLimit/index.js
  packages/service/src/types/rateLimit/selectors.js
  packages/service/src/types/rateLimit/typedef.js
  packages/service/src/types/rateLimitDirective/creation.js
  packages/service/src/types/rateLimitDirective/index.js
  packages/service/src/types/rateLimitDirective/selectors.js
  packages/service/src/types/rateLimiterKeyGenerator/index.js
  packages/service/src/types/rateLimiterKeyGenerator/selectors.js
Due: lint-js-eslint, lint-js-prettier

🐛 Fix min/max on shared `Input`
  packages/common/src/constants/account/regex.js
  packages/common/src/constants/password/regex.js
  packages/common/src/constants/user/regex.js
  packages/common/src/types/userRecoveryFindInput/validation.js
  packages/common/src/types/userRecoveryFindInput/validation.spec.js
  packages/common/src/types/userRegisterInput/validation.js
  packages/common/src/types/userRegisterInput/validation.spec.js
  packages/ui/src/modules/signup/components/Form/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/user/components/Account/Security/Form/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/user/components/Recovery/Find/Form/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/forms/Input/index.js
  yarn.lock
Due: lint-css, lint-js-eslint, lint-js-prettier

♻️ Refactor local dev to use https
  .ini/certs/cert.pem
  .ini/certs/key.pem
  .ini/hosts.js
  README.md
  docker/docker-compose.yml
  package.json
  packages/common/src/utils/index.js
  packages/common/src/utils/toBool/index.js
  packages/common/src/utils/toBool/index.spec.js
  packages/service/.env.example
  packages/service/src/db/connection.js
  packages/service/src/db/user/userSave.js
  packages/service/src/graphql/index.js
  packages/service/src/graphql/schema/user/self.js
  packages/service/src/start.js
  packages/service/src/types/file/index.js
  packages/service/src/types/file/selectors.js
  packages/service/src/types/processEnv/typedef.js
  packages/ui/.env
  packages/ui/package.json
  packages/ui/src/modules/app/components/App/Providers/GraphQL/link/http.js
Due: lint-css, lint-js-eslint, lint-js-prettier

🧹 Code split vendor dependencies
  packages/ui/craco.config.js
  packages/ui/package.json
  yarn.lock
Due: lint-js-eslint, lint-js-prettier

💚 Add service deployment to Heroku
  .circleci/config.yml
  packages/service/Procfile
  packages/ui/Procfile
Due: none

♻️ Tweak data volume names
  docker/Dockerfile.service
  docker/Dockerfile.ui
  docker/docker-compose.yml
  docker/entrypoint.sh
Due: none

✨ Add prod start scripts
  package.json
Due: none

♻️ Access process.env via config
  packages/service/.env.example
  packages/service/knexfile.js
  packages/service/src/app/middleware/cors.js
  packages/service/src/cache/index.js
  packages/service/src/config/index.js
  packages/service/src/db/connection.js
  packages/service/src/db/migrate/utils/index.js
  packages/service/src/email/mailer.js
  packages/service/src/graphql/cache.js
  packages/service/src/graphql/index.js
  packages/service/src/log/logFactory.js
  packages/service/src/types/captcha/selectors.js
  packages/service/src/types/processEnv/index.js
  packages/service/src/types/processEnv/typedef.js
  packages/service/src/types/rateLimitDirective/creation.js
Due: lint-js-eslint, lint-js-prettier

💚 Add startup to Procfiles
  packages/service/Procfile
  packages/ui/Procfile
Due: none

💚 Fix deployment ...attempt 1
  .circleci/config.yml
  packages/service/Procfile
  packages/service/src/config/index.js
  packages/service/src/email/user/passwordReset/index.js
  packages/service/src/graphql/formatError.js
  packages/service/src/start.js
  packages/service/src/types/auth/selectors.js
  packages/service/src/types/db/typedef.js
  packages/service/src/types/processEnv/typedef.js
  packages/service/src/types/rateLimit/typedef.js
Due: lint-js-eslint, lint-js-prettier

💚 Fix deployment to Heroku
  .circleci/config.yml
  README.md
  package.json
  packages/service/.env.example
  packages/service/Procfile
  packages/service/knexfile.js
  packages/service/src/cache/index.js
  packages/service/src/config/index.js
  packages/service/src/db/connection.js
  packages/service/src/email/mailer.js
  packages/service/src/email/user/passwordReset/index.js
  packages/service/src/graphql/formatError.js
  packages/service/src/graphql/schema/user/register.js
  packages/service/src/start.js
  packages/service/src/types/auth/selectors.js
  packages/service/src/types/db/typedef.js
  packages/service/src/types/processEnv/typedef.js
  packages/service/src/types/rateLimit/typedef.js
  packages/ui/.env
  packages/ui/Procfile
  packages/ui/package.json
  yarn.lock
Due: lint-js-eslint, lint-js-prettier

🐛 Add `Loader` to loading state of User Profile page
  packages/ui/src/i18n/en/common/index.js
  packages/ui/src/modules/user/components/Account/Profile/Form/index.js
  packages/ui/src/modules/user/components/Account/Profile/__snapshots__/component.spec.js.snap
  packages/ui/src/modules/user/components/Account/Profile/component.js
  packages/ui/src/modules/user/components/Account/Profile/component.spec.js
  packages/ui/src/modules/user/components/Account/Profile/index.js
  packages/ui/src/modules/user/components/Account/Security/__snapshots__/component.spec.js.snap
  packages/ui/src/modules/user/components/Account/Security/component.js
  packages/ui/src/modules/user/components/Account/Security/component.spec.js
  packages/ui/src/modules/user/components/Account/Security/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

💚 Early exit build steps when packages don't need run
  .circleci/config.yml
  .circleci/exit-untouched.sh
  package.json
Due: none

💚 Fix build
  .circleci/config.yml
  packages/service/knexfile.js
Due: lint-js-eslint, lint-js-prettier

🔒 Add helmet to help secure graphql headers
  packages/service/package.json
  packages/service/src/app/middleware/helmet.js
  packages/service/src/app/middleware/index.js
  packages/ui/src/shared/Page/index.spec.js
  yarn.lock
Due: lint-css, lint-js-eslint, lint-js-prettier

💚 Fix heroku build
  package.json
Due: none

💄 Grayscale buttons in a disabled state
  packages/ui/src/modules/app/components/App/Layout/Footer/Toggles/LanguageToggle/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/app/components/App/Layout/Header/UserMenu/Avatar/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/Button/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

✨ Email password reset success email when password is reset
  packages/service/src/email/user/passwordReset/index.js
  packages/service/src/email/user/passwordResetSuccess/index.js
  packages/service/src/server/formatError.js
  packages/service/src/server/schema/user/passwordReset/index.js
  packages/service/src/server/schema/user/passwordReset/index.spec.js
  packages/service/src/server/schema/user/passwordResetRequest/index.js
  packages/service/src/server/schema/user/passwordResetRequest/index.spec.js
  packages/service/src/testHelpers/graphql.js
  packages/service/src/types/customError/email/index.js
  packages/service/src/types/errorMessage/internalErrorMessage.js
  packages/service/src/types/errorMessage/publicErrorMessage.js
  packages/service/src/types/errorType/typedef.js
Due: lint-js-eslint, lint-js-prettier

🐛 Emails should use common color palette
  packages/common/src/index.js
  packages/common/src/types/color/index.js
  packages/common/src/types/color/typedef.js
  packages/service/package.json
  packages/service/src/config/index.js
  packages/service/src/email/selectors.js
  packages/service/src/email/selectors.spec.js
  packages/service/src/email/user/passwordReset/__snapshots__/index.spec.js.snap
  packages/service/src/email/user/passwordReset/index.js
  packages/service/src/email/user/passwordReset/index.spec.js
  packages/service/src/email/user/passwordResetSuccess/__snapshots__/index.spec.js.snap
  packages/service/src/email/user/passwordResetSuccess/index.js
  packages/service/src/email/user/passwordResetSuccess/index.spec.js
  packages/service/src/email/utils/minify.js
  packages/ui-common/src/index.js
  packages/ui/src/modules/app/components/App/Layout/FavIcon/index.js
  packages/ui/src/modules/app/components/App/Layout/Meta/index.js
  packages/ui/src/shared/Loader/theme.js
  packages/ui/src/types/customProperties/grayscale.js
  packages/ui/src/types/customProperties/roygbiv.js
  yarn.lock
Due: lint-css, lint-js-eslint, lint-js-prettier

⬆️ Upgrade postgres to 12.2
  docker/docker-compose.yml
Due: none

⬆️ Upgrade to Node v14.2.0
  .circleci/config.yml
  .nvmrc
  README.md
  package.json
  packages/common/package.json
  packages/service/package.json
  packages/service/src/db/connection.js
  packages/tool-hook-generator/package.json
  packages/ui-common/package.json
  packages/ui/package.json
  yarn.lock
Due: lint-js-eslint, lint-js-prettier

💚 Split tests for maximum parallelism
  .circleci/config.yml
  .circleci/exit-untouched.sh
Due: none

🚨 Add linting for GraphQL schema
  .circleci/exit-untouched.sh
  .graphql/graphql-schema-linter.config.js
  .graphql/schema.graphql
  .graphql/schema.json
  apollo.config.js
  lefthook.yml
  package.json
  packages/service/nodemon.json
  packages/service/src/email/user/passwordResetSuccess/__snapshots__/index.spec.js.snap
  packages/service/src/email/user/passwordResetSuccess/index.js
  packages/service/src/server/schema/index.js
  packages/service/src/server/schema/typeDefs.js
  packages/service/src/server/schema/user/delete/index.js
  packages/service/src/server/schema/user/login/index.js
  packages/service/src/server/schema/user/passwordReset/index.js
  packages/service/src/server/schema/user/passwordResetRequest/index.js
  packages/service/src/server/schema/user/passwordResetTokenValidate/index.js
  packages/service/src/server/schema/user/recoveryFind/index.js
  packages/service/src/server/schema/user/register/index.js
  packages/service/src/server/schema/user/revokeRefreshTokens/index.js
  packages/service/src/server/schema/user/self/index.js
  packages/service/src/server/schema/user/selfSecurityUpdate/index.js
  packages/service/src/server/schema/user/selfUpdate/index.js
  packages/service/src/server/schema/users/users/index.js
  packages/service/src/server/server.js
  packages/tool-hook-generator/.codegen/config.yml
  packages/tool-hook-generator/format.js
  packages/tool-hook-generator/nodemon.json
  packages/tool-hook-generator/package.json
  packages/tool-hook-generator/src/findMutation.js
  packages/tool-hook-generator/src/findQuery.js
  packages/tool-hook-generator/src/toInputInfo.js
  packages/tool-hook-generator/src/toTypeFields.js
  packages/ui/src/shared/graphql/mutation/index.js
  packages/ui/src/shared/graphql/mutation/useUserDelete.js
  packages/ui/src/shared/graphql/mutation/useUserRecoveryNotify.js
  packages/ui/src/shared/graphql/mutation/useUserRevokeRefreshTokens.js
  packages/ui/src/shared/graphql/query/useUsers.js
  yarn.lock
Due: lint-css, lint-js-eslint, lint-js-prettier
