Repository n8io/boilerplate-monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: lint-css, lint-graphql, lint-js-eslint, lint-js-prettier

lint-css:
  run: yarn -s linter:stylelint {staged_files}

lint-graphql:
  run: yarn -s linter:graphql

lint-js-eslint:
  run: yarn -s linter:eslint {staged_files}

lint-js-prettier:
  run: yarn -s linter:prettier {staged_files}

ci(cloudflare): ✨ Add CloudFlare deployment configuration
  .circleci/config.yml
  .eslintignore
  .prettierignore
  .vscode/settings.json
  README.md
  packages/service/.env.example
  packages/service/.postbuild/envCheck.js
  packages/service/.postbuild/makeRelease.js
  packages/service/.prebuild/index.js
  packages/service/package.json
  packages/ui/.deploy/.cargo-ok
  packages/ui/.deploy/.gitignore
  packages/ui/.deploy/index.js
  packages/ui/.deploy/package.json
  packages/ui/.postbuild/envCheck.js
  packages/ui/.postbuild/makeRelease.js
  packages/ui/.prebuild/index.js
  packages/ui/package.json
  packages/ui/wrangler.toml
  yarn.lock
Due: lint-css, lint-js-eslint, lint-js-prettier

ci: 💚 Only push ui to dev on master merges
  .circleci/config.yml
Due: none

ci: 💚 CI builds for master merges
  .circleci/config.yml
  packages/ui/src/modules/app/components/App/Layout/Meta/index.js
  packages/ui/src/modules/app/components/App/Layout/Meta/index.spec.js
Due: lint-css, lint-js-eslint, lint-js-prettier

build: ✨ Add aws stack up/down scripts
  packages/aws/aws-down.sh
  packages/aws/aws-up.sh
  packages/aws/down.sh
  packages/aws/up.sh
Due: none

🚧 Add aws up/down scritps
  packages/aws/aws-down.sh
  packages/common/package.json
  packages/service/.upignore
  packages/service/package.json
  packages/service/up.json
  packages/ui-common/package.json
  scripts/service/deploy.sh
Due: none

feat(db): 🌱 Add `admin` seed user to db
  packages/service/src/migrations/20201120210332_seed-admin-user.js
Due: lint-js-eslint, lint-js-prettier

feat(login): ✨ Expand login and registration to 50 burst and 500 window
  packages/service/src/types/rateLimit/typedef.js
Due: lint-js-eslint, lint-js-prettier

chore: 🔥 Remove `ui` from `dcud` script
  package.json
Due: none

feat(internet): 🔥 Remove `InternetConnectivity` component
  packages/ui/src/modules/app/components/App/Layout/Main/index.js
  packages/ui/src/modules/app/components/App/Providers/InternetConnectivity/index.js
  packages/ui/src/modules/app/components/App/Providers/index.js
  packages/ui/src/shared/useIsInternetConnected/__mocks__/index.js
  packages/ui/src/shared/useIsInternetConnected/index.js
  packages/ui/src/shared/useIsInternetConnected/index.spec.js
Due: lint-css, lint-js-eslint, lint-js-prettier

fix(cookie): 🐛 Fix `SameSite` cookie issues for refresh token
  .gitignore
  packages/service/src/app/middleware/cors.js
  packages/service/src/types/auth/selectors.js
Due: lint-js-eslint, lint-js-prettier

fix(cookie): 🐛 Fix `SameSite` cookie issues for refresh token
  packages/service/src/types/auth/selectors.spec.js
Due: lint-js-eslint, lint-js-prettier

v1.6.0
  CHANGELOG.md
  lerna.json
  packages/service/CHANGELOG.md
  packages/service/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: none

refactor(config): ♻️ `DB_` to `DATABASE_` env vars
  packages/service/.env.example
  packages/service/knexfile.js
  packages/service/src/config/index.js
  packages/service/src/db/connection.js
  packages/service/src/db/migrate/utils/index.js
  packages/service/src/db/migrate/utils/index.spec.js
  packages/service/src/migrations/20201120210332_seed-admin-user.js
  packages/service/src/types/db/typedef.js
  packages/service/src/types/processEnvKeys/typedef.js
  packages/ui/.env
Due: lint-js-eslint, lint-js-prettier

feat: ✨ Linkify app release version in footer
  packages/ui/src/modules/app/components/App/Layout/Footer/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/app/components/App/Layout/Footer/index.js
  packages/ui/src/shared/ExternalLink/__mocks__/index.js
  packages/ui/src/shared/ExternalLink/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/ExternalLink/index.js
  packages/ui/src/shared/ExternalLink/index.spec.js
  packages/ui/src/shared/ExternalLink/theme.js
Due: lint-css, lint-js-eslint, lint-js-prettier

feat: ✨ Add `REACT_APP_RELEASE` to ui build
  .circleci/config.yml
  packages/ui/.env
Due: none

fix: 🧪 Update broken snapshot
  packages/ui/src/modules/app/components/App/Layout/Footer/__snapshots__/index.spec.js.snap
  packages/ui/src/shared/ExternalLink/__snapshots__/index.spec.js.snap
Due: none

feat(version): ✨ Add `VersionLink` component
  packages/ui/src/modules/app/components/App/Layout/Footer/VersionLink/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/app/components/App/Layout/Footer/VersionLink/index.js
  packages/ui/src/modules/app/components/App/Layout/Footer/VersionLink/index.spec.js
  packages/ui/src/modules/app/components/App/Layout/Footer/__snapshots__/index.spec.js.snap
  packages/ui/src/modules/app/components/App/Layout/Footer/index.js
  packages/ui/src/modules/app/components/App/Layout/Footer/index.spec.js
Due: lint-css, lint-js-eslint, lint-js-prettier

v1.7.0
  CHANGELOG.md
  lerna.json
  packages/service/CHANGELOG.md
  packages/service/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: none

feat(config): ♻ Refactor how `debug` logger is enabled
  packages/service/src/log/log.js
  packages/service/src/log/logFactory.js
Due: lint-js-eslint, lint-js-prettier

refactor: ♻️ Rename `SMTP_CONNECTION` to `EMAIL_SMTP_CONNECTION`
  packages/service/.env.example
  packages/service/src/app/middleware/cors.js
  packages/service/src/config/index.js
  packages/service/src/email/mailer.js
  packages/service/src/server/formatError/index.js
  packages/service/src/server/formatError/index.spec.js
  packages/service/src/types/password/selectors.js
  packages/service/src/types/processEnvKeys/typedef.js
  packages/service/src/types/rateLimit/typedef.js
  packages/ui/src/config/index.js
Due: lint-css, lint-js-eslint, lint-js-prettier

chore: 🔊 Stringify additional data
  packages/service/src/log/log.js
  packages/service/src/log/log.spec.js
  packages/service/src/server/formatError/index.js
  packages/service/src/server/formatError/index.spec.js
  packages/service/src/types/password/selectors.js
  packages/service/src/types/rateLimit/typedef.js
Due: lint-js-eslint, lint-js-prettier

chore: ♻️ Rename to `EMAIL_SMTP_URL`
  packages/service/.env.example
  packages/service/src/config/index.js
  packages/service/src/email/mailer.js
  packages/service/src/types/processEnvKeys/typedef.js
Due: lint-js-eslint, lint-js-prettier

v1.8.0
  CHANGELOG.md
  lerna.json
  packages/service/CHANGELOG.md
  packages/service/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: none

chore(logging): 🔊 Stringify logging data on error [ch45]
  packages/service/src/log/log.js
  packages/service/src/log/log.spec.js
Due: lint-js-eslint, lint-js-prettier

feat(docker): ✨ Add service dockerization
  .dockerignore
  docker/Dockerfile.service
  docker/docker-compose.yml
  package.json
Due: none

build(deps): ✨ Add `apollo-server-lamda`
  packages/service/package.json
  yarn.lock
Due: none

feat(lambda): ✨ Add lambda handler
  packages/service/src/handlers/app.js
  packages/service/src/server/index.js
  packages/service/src/start.js
  packages/service/src/testHelpers/graphql.js
Due: lint-js-eslint, lint-js-prettier

chore(engines): 🔧 Open node versions for lambda
  package.json
  packages/common/package.json
  packages/service/package.json
  packages/ui-common/package.json
  packages/ui/package.json
Due: none

feat(docker): ✨ Add lambda dockerfile
  docker/Dockerfile.service.lambda
Due: none

feat(aws): ✨ Add aws serverless postgres scripts
  packages/aws/aws-down.sh
  packages/aws/aws-up.sh
  packages/aws/down.sh
  packages/aws/up.sh
Due: none

chore(yarn): 🧶 Update `yarn.lock`
  yarn.lock
Due: none

feat(docker): ✨ Add docker lambda service stuffs
  docker/Dockerfile.service.lambda
  docker/docker-compose.yml
Due: none

build(deps): ✨ Add `serverless-http` to the mix
  packages/service/package.json
  yarn.lock
Due: none

chore: ⏪ Revert lambda conditional split
  packages/service/src/handlers/app.js
  packages/service/src/index.js
  packages/service/src/server/index.js
  packages/service/src/start.js
  packages/service/src/testHelpers/graphql.js
Due: lint-js-eslint, lint-js-prettier

chore: ♻️ Extract server startup
  packages/service/src/index.js
  packages/service/src/start.js
Due: lint-js-eslint, lint-js-prettier

🚧 WIP
  .dockerignore
  docker/docker-compose.yml
  packages/service/src/handlers/app.js
Due: lint-js-eslint, lint-js-prettier

Path conditions:
  lint-css: any of: packages/ui/**/*.js
  lint-graphql: any of: .graphql/schema.graphql
  lint-js-eslint: any of: *.js
  lint-js-prettier: any of: *.js
